SoapUtility/Service References/ProcurementGroup/ProcurementGroup1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/ProcurementGroup?xsd=xsd2" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/ProcurementGroup?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/ProcurementGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/ProcurementGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/ProcurementGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/ProcurementGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/ProcurementGroup?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetPurchOrderForGRN">
    <wsdl:part name="parameters" element="tns:GetPurchOrderForGRN" />
  </wsdl:message>
  <wsdl:message name="GetPurchOrderForGRN_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetPurchOrderForGRNResponse">
    <wsdl:part name="parameters" element="tns:GetPurchOrderForGRNResponse" />
  </wsdl:message>
  <wsdl:message name="GetPurchOrderForGRNResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="PurchService_GetPurchOrderForGRN_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="GenerateGRN">
    <wsdl:part name="parameters" element="tns:GenerateGRN" />
  </wsdl:message>
  <wsdl:message name="GenerateGRN_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="GenerateGRNResponse">
    <wsdl:part name="parameters" element="tns:GenerateGRNResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateGRNResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="PurchService_GenerateGRN_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:message name="GetAvailablePOs">
    <wsdl:part name="parameters" element="tns:GetAvailablePOs" />
  </wsdl:message>
  <wsdl:message name="GetAvailablePOs_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetAvailablePOsResponse">
    <wsdl:part name="parameters" element="tns:GetAvailablePOsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailablePOsResponse_Headers">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q8:Infolog" />
  </wsdl:message>
  <wsdl:message name="PurchService_GetAvailablePOs_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q9:Fault" />
  </wsdl:message>
  <wsdl:portType name="PurchService">
    <wsdl:operation name="GetPurchOrderForGRN">
      <wsdl:input wsam:Action="http://tempuri.org/PurchService/GetPurchOrderForGRN" name="GetPurchOrderForGRN" message="tns:GetPurchOrderForGRN" />
      <wsdl:output wsam:Action="http://tempuri.org/PurchService/GetPurchOrderForGRNResponse" name="GetPurchOrderForGRNResponse" message="tns:GetPurchOrderForGRNResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/PurchService/Fault" name="SoapServiceFaultFault" message="tns:PurchService_GetPurchOrderForGRN_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateGRN">
      <wsdl:input wsam:Action="http://tempuri.org/PurchService/GenerateGRN" name="GenerateGRN" message="tns:GenerateGRN" />
      <wsdl:output wsam:Action="http://tempuri.org/PurchService/GenerateGRNResponse" name="GenerateGRNResponse" message="tns:GenerateGRNResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/PurchService/Fault" name="SoapServiceFaultFault" message="tns:PurchService_GenerateGRN_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePOs">
      <wsdl:input wsam:Action="http://tempuri.org/PurchService/GetAvailablePOs" name="GetAvailablePOs" message="tns:GetAvailablePOs" />
      <wsdl:output wsam:Action="http://tempuri.org/PurchService/GetAvailablePOsResponse" name="GetAvailablePOsResponse" message="tns:GetAvailablePOsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/PurchService/Fault" name="SoapServiceFaultFault" message="tns:PurchService_GetAvailablePOs_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>