SCServices/Service References/Attendance/AttendanceServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AttendanceServices?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="EmpTimeCardServiceWorkerInOutRegistrationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q1:ArrayOfTimeCardSmallContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceWorkerInOutRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceGetEmployeeNameRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personnelNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceGetEmployeeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceSaveRawAttendanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q2:ArrayOfTimeCardSmallContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceSaveRawAttendanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceWorkerInOutRegistrationForDayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceWorkerInOutRegistrationForDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q3:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q4:EntityKeyList" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" minOccurs="0" ref="q5:EmpTimeCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceGetLastSwipeIdRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceGetLastSwipeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q6:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" minOccurs="0" ref="q7:EmpTimeCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceApplyLeaveTransactionRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceApplyLeaveTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q8:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" minOccurs="0" ref="q9:EmpTimeCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/EmpTimeCard" minOccurs="0" ref="q10:EmpTimeCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q11:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceCreateAttendanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q12:ArrayOfTimeCardContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpTimeCardServiceCreateAttendanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>