TestWebservice/Service References/ModulaService/ModulaPR1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58380/ModulaPR.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncServices" />
  <xs:import schemaLocation="http://localhost:58380/ModulaPR.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SyncServices.EAMServices" />
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetItemResult" nillable="true" type="q1:ItemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetItemsResult" nillable="true" type="q2:ArrayOfItemEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWOPools">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWOPoolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetWOPoolsResult" nillable="true" type="q3:ArrayOfWOPool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetEquipmentsResult" nillable="true" type="q4:ArrayOfPMEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFailureCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFailureCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetFailureCodesResult" nillable="true" type="q5:ArrayOfPMFailureCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepairCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepairCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetRepairCodesResult" nillable="true" type="q6:ArrayOfPMRepairCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetEquipmentResult" nillable="true" type="q7:PMEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOrderTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOrderTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SyncServices.EAMServices" minOccurs="0" name="GetWorkOrderTypesResult" nillable="true" type="q8:ArrayOfWOTypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SyncServices.EAMServices" minOccurs="0" name="GetEquipLocationsResult" nillable="true" type="q9:ArrayOfWOLocationContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInlineWorkItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workOrderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInlineWorkItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetInlineWorkItemsResult" nillable="true" type="q10:ArrayOfPMWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherWorkItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workOrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherWorkItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="GetOtherWorkItemsResult" nillable="true" type="q11:ArrayOfPMWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="entity" nillable="true" type="q12:PMWorkOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SyncServices" minOccurs="0" name="SaveWorkOrderResult" nillable="true" type="q13:PMWorkOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workOrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetWorkOrderStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workOrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sto_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>