TestWebservice/Service References/ModulaService/ModulaPR32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SyncServices.EAMServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SyncServices.EAMServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58380/ModulaPR.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:complexType name="ArrayOfWOTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WOTypeContract" nillable="true" type="tns:WOTypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWOTypeContract" nillable="true" type="tns:ArrayOfWOTypeContract" />
  <xs:complexType name="WOTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XppObjectBase">
        <xs:sequence>
          <xs:element name="codeField" nillable="true" type="xs:string" />
          <xs:element name="labelField" nillable="true" type="xs:string" />
          <xs:element name="valueField" type="xs:int" />
          <xs:element name="valueFieldSpecified" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WOTypeContract" nillable="true" type="tns:WOTypeContract" />
  <xs:complexType name="XppObjectBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XppObjectBase" nillable="true" type="tns:XppObjectBase" />
  <xs:complexType name="ArrayOfWOLocationContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WOLocationContract" nillable="true" type="tns:WOLocationContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWOLocationContract" nillable="true" type="tns:ArrayOfWOLocationContract" />
  <xs:complexType name="WOLocationContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:XppObjectBase">
        <xs:sequence>
          <xs:element name="assetLocationIdField" nillable="true" type="xs:string" />
          <xs:element name="assetLocationNameField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WOLocationContract" nillable="true" type="tns:WOLocationContract" />
</xs:schema>