SoapUtility/Service References/DataManagerServices/DataManagerServiceGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="DMDataToSaveService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataManagerServiceGroup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_DMDataToSaveService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="DMDataToSaveService" location="https://acmcuat.sandbox.operations.dynamics.com/soap/services/DataManagerServiceGroup?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_DMDataToSaveService" type="i0:DMDataToSaveService">
    <wsp:PolicyReference URI="#BasicHttpBinding_DMDataToSaveService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelPalletReceive">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/CancelPalletReceive" style="document" />
      <wsdl:input name="CancelPalletReceive">
        <soap:header message="i0:CancelPalletReceive_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelPalletReceiveResponse">
        <soap:header message="i0:CancelPalletReceiveResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPalletAndLocationReceive">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/ConfirmPalletAndLocationReceive" style="document" />
      <wsdl:input name="ConfirmPalletAndLocationReceive">
        <soap:header message="i0:ConfirmPalletAndLocationReceive_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConfirmPalletAndLocationReceiveResponse">
        <soap:header message="i0:ConfirmPalletAndLocationReceiveResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPalletReceive">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/ConfirmPalletReceive" style="document" />
      <wsdl:input name="ConfirmPalletReceive">
        <soap:header message="i0:ConfirmPalletReceive_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConfirmPalletReceiveResponse">
        <soap:header message="i0:ConfirmPalletReceiveResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDowntimeForMarpak">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/CreateDowntimeForMarpak" style="document" />
      <wsdl:input name="CreateDowntimeForMarpak">
        <soap:header message="i0:CreateDowntimeForMarpak_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateDowntimeForMarpakResponse">
        <soap:header message="i0:CreateDowntimeForMarpakResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DMClearPrintAgain">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/DMClearPrintAgain" style="document" />
      <wsdl:input name="DMClearPrintAgain">
        <soap:header message="i0:DMClearPrintAgain_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DMClearPrintAgainResponse">
        <soap:header message="i0:DMClearPrintAgainResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DMSetPrintAgain">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/DMSetPrintAgain" style="document" />
      <wsdl:input name="DMSetPrintAgain">
        <soap:header message="i0:DMSetPrintAgain_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DMSetPrintAgainResponse">
        <soap:header message="i0:DMSetPrintAgainResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemCodes">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/GetItemCodes" style="document" />
      <wsdl:input name="GetItemCodes">
        <soap:header message="i0:GetItemCodes_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetItemCodesResponse">
        <soap:header message="i0:GetItemCodesResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMaxMovementNumber">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/GetMaxMovementNumber" style="document" />
      <wsdl:input name="GetMaxMovementNumber">
        <soap:header message="i0:GetMaxMovementNumber_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMaxMovementNumberResponse">
        <soap:header message="i0:GetMaxMovementNumberResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPalletInfo">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/GetPalletInfo" style="document" />
      <wsdl:input name="GetPalletInfo">
        <soap:header message="i0:GetPalletInfo_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPalletInfoResponse">
        <soap:header message="i0:GetPalletInfoResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPalletInfoByRecordId">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/GetPalletInfoByRecordId" style="document" />
      <wsdl:input name="GetPalletInfoByRecordId">
        <soap:header message="i0:GetPalletInfoByRecordId_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPalletInfoByRecordIdResponse">
        <soap:header message="i0:GetPalletInfoByRecordIdResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWHLocations">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/GetWHLocations" style="document" />
      <wsdl:input name="GetWHLocations">
        <soap:header message="i0:GetWHLocations_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetWHLocationsResponse">
        <soap:header message="i0:GetWHLocationsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ImportDataInDynamics">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/ImportDataInDynamics" style="document" />
      <wsdl:input name="ImportDataInDynamics">
        <soap:header message="i0:ImportDataInDynamics_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ImportDataInDynamicsResponse">
        <soap:header message="i0:ImportDataInDynamicsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ItemGroupPallets">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/ItemGroupPallets" style="document" />
      <wsdl:input name="ItemGroupPallets">
        <soap:header message="i0:ItemGroupPallets_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ItemGroupPalletsResponse">
        <soap:header message="i0:ItemGroupPalletsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveItemNumber">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/saveItemNumber" style="document" />
      <wsdl:input name="saveItemNumber">
        <soap:header message="i0:saveItemNumber_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveItemNumberResponse">
        <soap:header message="i0:saveItemNumberResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SummaryNormalPallets">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/SummaryNormalPallets" style="document" />
      <wsdl:input name="SummaryNormalPallets">
        <soap:header message="i0:SummaryNormalPallets_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SummaryNormalPalletsResponse">
        <soap:header message="i0:SummaryNormalPalletsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAndConfirmPalletReceive">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/UpdateAndConfirmPalletReceive" style="document" />
      <wsdl:input name="UpdateAndConfirmPalletReceive">
        <soap:header message="i0:UpdateAndConfirmPalletReceive_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateAndConfirmPalletReceiveResponse">
        <soap:header message="i0:UpdateAndConfirmPalletReceiveResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOfflinePallets">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/UpdateOfflinePallets" style="document" />
      <wsdl:input name="UpdateOfflinePallets">
        <soap:header message="i0:UpdateOfflinePallets_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateOfflinePalletsResponse">
        <soap:header message="i0:UpdateOfflinePalletsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransferPallets">
      <soap:operation soapAction="DMDataToSaveService/DMDataToSaveService/UpdateTransferPallets" style="document" />
      <wsdl:input name="UpdateTransferPallets">
        <soap:header message="i0:UpdateTransferPallets_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateTransferPalletsResponse">
        <soap:header message="i0:UpdateTransferPalletsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataManagerServiceGroup">
    <wsdl:port name="BasicHttpBinding_DMDataToSaveService" binding="tns:BasicHttpBinding_DMDataToSaveService">
      <soap:address location="https://acmcuat.sandbox.operations.dynamics.com/soap/services/DataManagerServiceGroup" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>