SoapUtility/Service References/DataManagerServices/DataManagerServiceGroup73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DMDataToSaveService" elementFormDefault="qualified" targetNamespace="DMDataToSaveService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/DataManagerServiceGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="CancelPalletReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPalletReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPalletAndLocationReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFromSL" type="xs:boolean" />
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPalletAndLocationReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPalletReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFromSL" type="xs:boolean" />
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPalletReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDowntimeForMarpak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_whichMarpak" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDowntimeForMarpakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMClearPrintAgain">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMClearPrintAgainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q1:ArrayOfDMExportMiniContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMSetPrintAgain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMSetPrintAgainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q2:ArrayOfItemCodeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxMovementNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxMovementNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q3:DMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletInfoByRecordId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletInfoByRecordIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q4:DMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWHLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWHLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q5:ArrayOfWmsLocationContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDataInDynamics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="lines" nillable="true" type="q6:ArrayOfDMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDataInDynamicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q7:ArrayOfDMExportMiniContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemGroupPallets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="caliber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemGroupPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q8:ArrayOfDMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveItemNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_itemNum" nillable="true" type="q9:DMExportItemNumContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveItemNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SummaryNormalPallets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SummaryNormalPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q10:ArrayOfDMSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAndConfirmPalletReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="line" nillable="true" type="q11:DMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAndConfirmPalletReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOfflinePallets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="lines" nillable="true" type="q12:ArrayOfDMExportOfflineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOfflinePalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q13:ArrayOfDMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransferPallets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="lines" nillable="true" type="q14:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransferPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q15:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferPalletToLoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="lines" nillable="true" type="q16:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferPalletToLocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q17:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PalletLocTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="lines" nillable="true" type="q18:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PalletLocTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q19:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>