TestWebservice/Service References/PurchaseService/PurchaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58380/PurchaseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="POHeader">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApprovalStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lines" nillable="true" type="tns:ArrayOfPOLine" />
          <xs:element minOccurs="0" name="PurchOrderStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchaseId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Receipt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="POHeader" nillable="true" type="tns:POHeader" />
  <xs:complexType name="POLine">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="POLine" nillable="true" type="tns:POLine" />
  <xs:complexType name="ArrayOfPOLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POLine" nillable="true" type="tns:POLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOLine" nillable="true" type="tns:ArrayOfPOLine" />
</xs:schema>