TestWebservice/Service References/PurchaseService/PurchaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PurchaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58380/PurchaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58380/PurchaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58380/PurchaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="http://localhost:58380/PurchaseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://localhost:58380/PurchaseService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchaseService_GetPurchOrderForGRN_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchOrderForGRN" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPurchOrderForGRN_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchOrderForGRNResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GenerateGRN_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateGRN" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GenerateGRN_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateGRNResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPing" />
  </wsdl:message>
  <wsdl:message name="IPurchaseService_GetPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPingResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchaseService">
    <wsdl:operation name="GetPurchOrderForGRN">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchOrderForGRN" message="tns:IPurchaseService_GetPurchOrderForGRN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/GetPurchOrderForGRNResponse" message="tns:IPurchaseService_GetPurchOrderForGRN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateGRN">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/GenerateGRN" message="tns:IPurchaseService_GenerateGRN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/GenerateGRNResponse" message="tns:IPurchaseService_GenerateGRN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseService/GetPing" message="tns:IPurchaseService_GetPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseService/GetPingResponse" message="tns:IPurchaseService_GetPing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchaseService" type="tns:IPurchaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPurchOrderForGRN">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/GetPurchOrderForGRN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateGRN">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/GenerateGRN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <soap:operation soapAction="http://tempuri.org/IPurchaseService/GetPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseService">
    <wsdl:port name="BasicHttpBinding_IPurchaseService" binding="tns:BasicHttpBinding_IPurchaseService">
      <soap:address location="http://localhost:58380/PurchaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>