TestWebservice/Service References/PurchaseService/PurchaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58380/PurchaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="GetPurchOrderForGRN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_purchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchOrderForGRNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="GetPurchOrderForGRNResult" nillable="true" type="q1:POHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGRN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_header" nillable="true" type="q2:POHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGRNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateGRNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>