TestWebservice/Service References/FAService/FixedAssetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SyncServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SyncServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFAEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FAEntity" nillable="true" type="tns:FAEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFAEntity" nillable="true" type="tns:ArrayOfFAEntity" />
  <xs:complexType name="FAEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AcquirePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssetGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableCount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BookId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMatched" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhysicalCount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProcessByIT" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusFA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyncId" type="xs:long" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FAEntity" nillable="true" type="tns:FAEntity" />
  <xs:complexType name="ArrayOfUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserData" nillable="true" type="tns:ArrayOfUserData" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
</xs:schema>