TestWebservice/Service References/FAService/FixedAssetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FixedAssetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58380/FixedAssetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58380/FixedAssetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58380/FixedAssetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFixedAssetService_ResetData_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetData" />
  </wsdl:message>
  <wsdl:message name="IFixedAssetService_ResetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFixedAssetService_GetPing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPing" />
  </wsdl:message>
  <wsdl:message name="IFixedAssetService_GetPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPingResponse" />
  </wsdl:message>
  <wsdl:message name="IFixedAssetService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IFixedAssetService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFixedAssetService_UpdateFixedAssetDesktop_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFixedAssetDesktop" />
  </wsdl:message>
  <wsdl:message name="IFixedAssetService_UpdateFixedAssetDesktop_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFixedAssetDesktopResponse" />
  </wsdl:message>
  <wsdl:portType name="IFixedAssetService">
    <wsdl:operation name="ResetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFixedAssetService/ResetData" message="tns:IFixedAssetService_ResetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFixedAssetService/ResetDataResponse" message="tns:IFixedAssetService_ResetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IFixedAssetService/GetPing" message="tns:IFixedAssetService_GetPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFixedAssetService/GetPingResponse" message="tns:IFixedAssetService_GetPing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFixedAssetService/GetUserData" message="tns:IFixedAssetService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFixedAssetService/GetUserDataResponse" message="tns:IFixedAssetService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFixedAssetDesktop">
      <wsdl:input wsaw:Action="http://tempuri.org/IFixedAssetService/UpdateFixedAssetDesktop" message="tns:IFixedAssetService_UpdateFixedAssetDesktop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFixedAssetService/UpdateFixedAssetDesktopResponse" message="tns:IFixedAssetService_UpdateFixedAssetDesktop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFixedAssetService" type="tns:IFixedAssetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetData">
      <soap:operation soapAction="http://tempuri.org/IFixedAssetService/ResetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <soap:operation soapAction="http://tempuri.org/IFixedAssetService/GetPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/IFixedAssetService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFixedAssetDesktop">
      <soap:operation soapAction="http://tempuri.org/IFixedAssetService/UpdateFixedAssetDesktop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FixedAssetService">
    <wsdl:port name="BasicHttpBinding_IFixedAssetService" binding="tns:BasicHttpBinding_IFixedAssetService">
      <soap:address location="http://localhost:58380/FixedAssetService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>