SoapUtility/Service References/UserMgtServices/UserMgtServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices?xsd=xsd2" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCCAttendance">
    <wsdl:part name="parameters" element="tns:GetCCAttendance" />
  </wsdl:message>
  <wsdl:message name="GetCCAttendance_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetCCAttendanceResponse">
    <wsdl:part name="parameters" element="tns:GetCCAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetCCAttendanceResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_GetCCAttendance_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="GetMobileUsers">
    <wsdl:part name="parameters" element="tns:GetMobileUsers" />
  </wsdl:message>
  <wsdl:message name="GetMobileUsers_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetMobileUsersResponse">
    <wsdl:part name="parameters" element="tns:GetMobileUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetMobileUsersResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_GetMobileUsers_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:message name="GetUserInfo">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfo_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoResponse">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoResponse_Headers">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q8:Infolog" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_GetUserInfo_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q9:Fault" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoOnLogin">
    <wsdl:part name="parameters" element="tns:GetUserInfoOnLogin" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoOnLogin_Headers">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q10:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoOnLoginResponse">
    <wsdl:part name="parameters" element="tns:GetUserInfoOnLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoOnLoginResponse_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q11:Infolog" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_GetUserInfoOnLogin_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q12:Fault" />
  </wsdl:message>
  <wsdl:message name="LoginUser">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUser_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="LoginUserResponse">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserResponse_Headers">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q14:Infolog" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_LoginUser_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q15:Fault" />
  </wsdl:message>
  <wsdl:portType name="UserManagementService">
    <wsdl:operation name="GetCCAttendance">
      <wsdl:input wsam:Action="http://tempuri.org/UserManagementService/GetCCAttendance" name="GetCCAttendance" message="tns:GetCCAttendance" />
      <wsdl:output wsam:Action="http://tempuri.org/UserManagementService/GetCCAttendanceResponse" name="GetCCAttendanceResponse" message="tns:GetCCAttendanceResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/UserManagementService/Fault" name="SoapServiceFaultFault" message="tns:UserManagementService_GetCCAttendance_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMobileUsers">
      <wsdl:input wsam:Action="http://tempuri.org/UserManagementService/GetMobileUsers" name="GetMobileUsers" message="tns:GetMobileUsers" />
      <wsdl:output wsam:Action="http://tempuri.org/UserManagementService/GetMobileUsersResponse" name="GetMobileUsersResponse" message="tns:GetMobileUsersResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/UserManagementService/Fault" name="SoapServiceFaultFault" message="tns:UserManagementService_GetMobileUsers_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsam:Action="http://tempuri.org/UserManagementService/GetUserInfo" name="GetUserInfo" message="tns:GetUserInfo" />
      <wsdl:output wsam:Action="http://tempuri.org/UserManagementService/GetUserInfoResponse" name="GetUserInfoResponse" message="tns:GetUserInfoResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/UserManagementService/Fault" name="SoapServiceFaultFault" message="tns:UserManagementService_GetUserInfo_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoOnLogin">
      <wsdl:input wsam:Action="http://tempuri.org/UserManagementService/GetUserInfoOnLogin" name="GetUserInfoOnLogin" message="tns:GetUserInfoOnLogin" />
      <wsdl:output wsam:Action="http://tempuri.org/UserManagementService/GetUserInfoOnLoginResponse" name="GetUserInfoOnLoginResponse" message="tns:GetUserInfoOnLoginResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/UserManagementService/Fault" name="SoapServiceFaultFault" message="tns:UserManagementService_GetUserInfoOnLogin_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsam:Action="http://tempuri.org/UserManagementService/LoginUser" name="LoginUser" message="tns:LoginUser" />
      <wsdl:output wsam:Action="http://tempuri.org/UserManagementService/LoginUserResponse" name="LoginUserResponse" message="tns:LoginUserResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/UserManagementService/Fault" name="SoapServiceFaultFault" message="tns:UserManagementService_LoginUser_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>