WcfMobile/Connected Services/UserServices/UserMgtServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-dbtest-axr3:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="AttendanceContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbsenceTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Approved" type="q1:NoYes" />
          <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GatePass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaidTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Profile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfileDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RegularMins" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkEndTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkStartTime" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttendanceContract" nillable="true" type="tns:AttendanceContract" />
  <xs:complexType name="UserInfoContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorLog" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetworkAlias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetworkDomain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkerId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfoContract" nillable="true" type="tns:UserInfoContract" />
  <xs:complexType name="ArrayOfAttendanceContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttendanceContract" nillable="true" type="tns:AttendanceContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendanceContract" nillable="true" type="tns:ArrayOfAttendanceContract" />
</xs:schema>