WcfMobile/Connected Services/UserServices/UserMgtServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-dbtest-axr3:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="UserManagementServiceGetCCAttendanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="ui" nillable="true" type="q1:UserInfoContract" />
        <xs:element minOccurs="0" name="whichDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserManagementServiceGetCCAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfAttendanceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserManagementServiceGetUserInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="ui" nillable="true" type="q3:UserInfoContract" />
        <xs:element minOccurs="0" name="hasPersonDetail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserManagementServiceGetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:UserInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserManagementServiceLoginUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="ui" nillable="true" type="q5:UserInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserManagementServiceLoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserManagementServiceGetUserInfoOnLoginRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="ui" nillable="true" type="q6:UserInfoContract" />
        <xs:element minOccurs="0" name="hasPersonDetail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserManagementServiceGetUserInfoOnLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q7:UserInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>