SoapUtility/Service References/EAMServices/EAMServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices?xsd=xsd2" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateOrUpdate">
    <wsdl:part name="parameters" element="tns:CreateOrUpdate" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdate_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateResponse">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrUpdateResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_CreateOrUpdate_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItem">
    <wsdl:part name="parameters" element="tns:DeleteWorkItem" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItem_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemResponse">
    <wsdl:part name="parameters" element="tns:DeleteWorkItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_DeleteWorkItem_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemByRecId">
    <wsdl:part name="parameters" element="tns:DeleteWorkItemByRecId" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemByRecId_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemByRecIdResponse">
    <wsdl:part name="parameters" element="tns:DeleteWorkItemByRecIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemByRecIdResponse_Headers">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q8:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_DeleteWorkItemByRecId_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q9:Fault" />
  </wsdl:message>
  <wsdl:message name="GetAllEquipments">
    <wsdl:part name="parameters" element="tns:GetAllEquipments" />
  </wsdl:message>
  <wsdl:message name="GetAllEquipments_Headers">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q10:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetAllEquipmentsResponse">
    <wsdl:part name="parameters" element="tns:GetAllEquipmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEquipmentsResponse_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q11:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetAllEquipments_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q12:Fault" />
  </wsdl:message>
  <wsdl:message name="GetEquipLocations">
    <wsdl:part name="parameters" element="tns:GetEquipLocations" />
  </wsdl:message>
  <wsdl:message name="GetEquipLocations_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetEquipLocationsResponse">
    <wsdl:part name="parameters" element="tns:GetEquipLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEquipLocationsResponse_Headers">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q14:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetEquipLocations_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q15:Fault" />
  </wsdl:message>
  <wsdl:message name="GetEquipment">
    <wsdl:part name="parameters" element="tns:GetEquipment" />
  </wsdl:message>
  <wsdl:message name="GetEquipment_Headers">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q16:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentResponse">
    <wsdl:part name="parameters" element="tns:GetEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentResponse_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q17:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetEquipment_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q18:Fault" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByCostCenter">
    <wsdl:part name="parameters" element="tns:GetEquipmentsByCostCenter" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByCostCenter_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByCostCenterResponse">
    <wsdl:part name="parameters" element="tns:GetEquipmentsByCostCenterResponse" />
  </wsdl:message>
  <wsdl:message name="GetEquipmentsByCostCenterResponse_Headers">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q20:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetEquipmentsByCostCenter_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q21:Fault" />
  </wsdl:message>
  <wsdl:message name="GetFailureCodes">
    <wsdl:part name="parameters" element="tns:GetFailureCodes" />
  </wsdl:message>
  <wsdl:message name="GetFailureCodes_Headers">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q22:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetFailureCodesResponse">
    <wsdl:part name="parameters" element="tns:GetFailureCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFailureCodesResponse_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q23:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetFailureCodes_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q24:Fault" />
  </wsdl:message>
  <wsdl:message name="GetInlineWorkItems">
    <wsdl:part name="parameters" element="tns:GetInlineWorkItems" />
  </wsdl:message>
  <wsdl:message name="GetInlineWorkItems_Headers">
    <wsdl:part xmlns:q25="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q25:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetInlineWorkItemsResponse">
    <wsdl:part name="parameters" element="tns:GetInlineWorkItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetInlineWorkItemsResponse_Headers">
    <wsdl:part xmlns:q26="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q26:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetInlineWorkItems_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q27:Fault" />
  </wsdl:message>
  <wsdl:message name="GetLatestWorkorder">
    <wsdl:part name="parameters" element="tns:GetLatestWorkorder" />
  </wsdl:message>
  <wsdl:message name="GetLatestWorkorder_Headers">
    <wsdl:part xmlns:q28="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q28:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetLatestWorkorderResponse">
    <wsdl:part name="parameters" element="tns:GetLatestWorkorderResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestWorkorderResponse_Headers">
    <wsdl:part xmlns:q29="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q29:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetLatestWorkorder_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q30:Fault" />
  </wsdl:message>
  <wsdl:message name="getMaxId">
    <wsdl:part name="parameters" element="tns:getMaxId" />
  </wsdl:message>
  <wsdl:message name="getMaxId_Headers">
    <wsdl:part xmlns:q31="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q31:CallContext" />
  </wsdl:message>
  <wsdl:message name="getMaxIdResponse">
    <wsdl:part name="parameters" element="tns:getMaxIdResponse" />
  </wsdl:message>
  <wsdl:message name="getMaxIdResponse_Headers">
    <wsdl:part xmlns:q32="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q32:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_getMaxId_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q33:Fault" />
  </wsdl:message>
  <wsdl:message name="GetOnhand">
    <wsdl:part name="parameters" element="tns:GetOnhand" />
  </wsdl:message>
  <wsdl:message name="GetOnhand_Headers">
    <wsdl:part xmlns:q34="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q34:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetOnhandResponse">
    <wsdl:part name="parameters" element="tns:GetOnhandResponse" />
  </wsdl:message>
  <wsdl:message name="GetOnhandResponse_Headers">
    <wsdl:part xmlns:q35="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q35:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetOnhand_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q36:Fault" />
  </wsdl:message>
  <wsdl:message name="GetOtherWorkItems">
    <wsdl:part name="parameters" element="tns:GetOtherWorkItems" />
  </wsdl:message>
  <wsdl:message name="GetOtherWorkItems_Headers">
    <wsdl:part xmlns:q37="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q37:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetOtherWorkItemsResponse">
    <wsdl:part name="parameters" element="tns:GetOtherWorkItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOtherWorkItemsResponse_Headers">
    <wsdl:part xmlns:q38="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q38:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetOtherWorkItems_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q39:Fault" />
  </wsdl:message>
  <wsdl:message name="GetRepaireCodes">
    <wsdl:part name="parameters" element="tns:GetRepaireCodes" />
  </wsdl:message>
  <wsdl:message name="GetRepaireCodes_Headers">
    <wsdl:part xmlns:q40="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q40:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetRepaireCodesResponse">
    <wsdl:part name="parameters" element="tns:GetRepaireCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRepaireCodesResponse_Headers">
    <wsdl:part xmlns:q41="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q41:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetRepaireCodes_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q42:Fault" />
  </wsdl:message>
  <wsdl:message name="GetWOPoolCode">
    <wsdl:part name="parameters" element="tns:GetWOPoolCode" />
  </wsdl:message>
  <wsdl:message name="GetWOPoolCode_Headers">
    <wsdl:part xmlns:q43="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q43:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetWOPoolCodeResponse">
    <wsdl:part name="parameters" element="tns:GetWOPoolCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetWOPoolCodeResponse_Headers">
    <wsdl:part xmlns:q44="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q44:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetWOPoolCode_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q45="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q45:Fault" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByDates">
    <wsdl:part name="parameters" element="tns:GetWorkordersByDates" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByDates_Headers">
    <wsdl:part xmlns:q46="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q46:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByDatesResponse">
    <wsdl:part name="parameters" element="tns:GetWorkordersByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByDatesResponse_Headers">
    <wsdl:part xmlns:q47="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q47:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetWorkordersByDates_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q48:Fault" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByEquipment">
    <wsdl:part name="parameters" element="tns:GetWorkordersByEquipment" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByEquipment_Headers">
    <wsdl:part xmlns:q49="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q49:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByEquipmentResponse">
    <wsdl:part name="parameters" element="tns:GetWorkordersByEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkordersByEquipmentResponse_Headers">
    <wsdl:part xmlns:q50="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q50:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetWorkordersByEquipment_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q51="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q51:Fault" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderStatusLookup">
    <wsdl:part name="parameters" element="tns:GetWorkOrderStatusLookup" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderStatusLookup_Headers">
    <wsdl:part xmlns:q52="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q52:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderStatusLookupResponse">
    <wsdl:part name="parameters" element="tns:GetWorkOrderStatusLookupResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderStatusLookupResponse_Headers">
    <wsdl:part xmlns:q53="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q53:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetWorkOrderStatusLookup_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q54="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q54:Fault" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderTypes">
    <wsdl:part name="parameters" element="tns:GetWorkOrderTypes" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderTypes_Headers">
    <wsdl:part xmlns:q55="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q55:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderTypesResponse">
    <wsdl:part name="parameters" element="tns:GetWorkOrderTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkOrderTypesResponse_Headers">
    <wsdl:part xmlns:q56="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q56:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_GetWorkOrderTypes_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q57="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q57:Fault" />
  </wsdl:message>
  <wsdl:message name="MainCostByProdLine">
    <wsdl:part name="parameters" element="tns:MainCostByProdLine" />
  </wsdl:message>
  <wsdl:message name="MainCostByProdLine_Headers">
    <wsdl:part xmlns:q58="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q58:CallContext" />
  </wsdl:message>
  <wsdl:message name="MainCostByProdLineResponse">
    <wsdl:part name="parameters" element="tns:MainCostByProdLineResponse" />
  </wsdl:message>
  <wsdl:message name="MainCostByProdLineResponse_Headers">
    <wsdl:part xmlns:q59="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q59:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_MainCostByProdLine_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q60="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q60:Fault" />
  </wsdl:message>
  <wsdl:message name="PostedWorkItems">
    <wsdl:part name="parameters" element="tns:PostedWorkItems" />
  </wsdl:message>
  <wsdl:message name="PostedWorkItems_Headers">
    <wsdl:part xmlns:q61="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q61:CallContext" />
  </wsdl:message>
  <wsdl:message name="PostedWorkItemsResponse">
    <wsdl:part name="parameters" element="tns:PostedWorkItemsResponse" />
  </wsdl:message>
  <wsdl:message name="PostedWorkItemsResponse_Headers">
    <wsdl:part xmlns:q62="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q62:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_PostedWorkItems_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q63="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q63:Fault" />
  </wsdl:message>
  <wsdl:message name="SearchEquipments">
    <wsdl:part name="parameters" element="tns:SearchEquipments" />
  </wsdl:message>
  <wsdl:message name="SearchEquipments_Headers">
    <wsdl:part xmlns:q64="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q64:CallContext" />
  </wsdl:message>
  <wsdl:message name="SearchEquipmentsResponse">
    <wsdl:part name="parameters" element="tns:SearchEquipmentsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchEquipmentsResponse_Headers">
    <wsdl:part xmlns:q65="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q65:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_SearchEquipments_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q66="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q66:Fault" />
  </wsdl:message>
  <wsdl:message name="SetWOStatus">
    <wsdl:part name="parameters" element="tns:SetWOStatus" />
  </wsdl:message>
  <wsdl:message name="SetWOStatus_Headers">
    <wsdl:part xmlns:q67="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q67:CallContext" />
  </wsdl:message>
  <wsdl:message name="SetWOStatusResponse">
    <wsdl:part name="parameters" element="tns:SetWOStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SetWOStatusResponse_Headers">
    <wsdl:part xmlns:q68="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q68:Infolog" />
  </wsdl:message>
  <wsdl:message name="WorkItemsService_SetWOStatus_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q69="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q69:Fault" />
  </wsdl:message>
  <wsdl:portType name="WorkItemsService">
    <wsdl:operation name="CreateOrUpdate">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/CreateOrUpdate" name="CreateOrUpdate" message="tns:CreateOrUpdate" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/CreateOrUpdateResponse" name="CreateOrUpdateResponse" message="tns:CreateOrUpdateResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_CreateOrUpdate_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkItem">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/DeleteWorkItem" name="DeleteWorkItem" message="tns:DeleteWorkItem" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/DeleteWorkItemResponse" name="DeleteWorkItemResponse" message="tns:DeleteWorkItemResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_DeleteWorkItem_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkItemByRecId">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/DeleteWorkItemByRecId" name="DeleteWorkItemByRecId" message="tns:DeleteWorkItemByRecId" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/DeleteWorkItemByRecIdResponse" name="DeleteWorkItemByRecIdResponse" message="tns:DeleteWorkItemByRecIdResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_DeleteWorkItemByRecId_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEquipments">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetAllEquipments" name="GetAllEquipments" message="tns:GetAllEquipments" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetAllEquipmentsResponse" name="GetAllEquipmentsResponse" message="tns:GetAllEquipmentsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetAllEquipments_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipLocations">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetEquipLocations" name="GetEquipLocations" message="tns:GetEquipLocations" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetEquipLocationsResponse" name="GetEquipLocationsResponse" message="tns:GetEquipLocationsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetEquipLocations_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipment">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetEquipment" name="GetEquipment" message="tns:GetEquipment" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetEquipmentResponse" name="GetEquipmentResponse" message="tns:GetEquipmentResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetEquipment_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentsByCostCenter">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetEquipmentsByCostCenter" name="GetEquipmentsByCostCenter" message="tns:GetEquipmentsByCostCenter" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetEquipmentsByCostCenterResponse" name="GetEquipmentsByCostCenterResponse" message="tns:GetEquipmentsByCostCenterResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetEquipmentsByCostCenter_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFailureCodes">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetFailureCodes" name="GetFailureCodes" message="tns:GetFailureCodes" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetFailureCodesResponse" name="GetFailureCodesResponse" message="tns:GetFailureCodesResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetFailureCodes_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInlineWorkItems">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetInlineWorkItems" name="GetInlineWorkItems" message="tns:GetInlineWorkItems" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetInlineWorkItemsResponse" name="GetInlineWorkItemsResponse" message="tns:GetInlineWorkItemsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetInlineWorkItems_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestWorkorder">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetLatestWorkorder" name="GetLatestWorkorder" message="tns:GetLatestWorkorder" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetLatestWorkorderResponse" name="GetLatestWorkorderResponse" message="tns:GetLatestWorkorderResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetLatestWorkorder_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMaxId">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/getMaxId" name="getMaxId" message="tns:getMaxId" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/getMaxIdResponse" name="getMaxIdResponse" message="tns:getMaxIdResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_getMaxId_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnhand">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetOnhand" name="GetOnhand" message="tns:GetOnhand" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetOnhandResponse" name="GetOnhandResponse" message="tns:GetOnhandResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetOnhand_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOtherWorkItems">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetOtherWorkItems" name="GetOtherWorkItems" message="tns:GetOtherWorkItems" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetOtherWorkItemsResponse" name="GetOtherWorkItemsResponse" message="tns:GetOtherWorkItemsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetOtherWorkItems_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepaireCodes">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetRepaireCodes" name="GetRepaireCodes" message="tns:GetRepaireCodes" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetRepaireCodesResponse" name="GetRepaireCodesResponse" message="tns:GetRepaireCodesResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetRepaireCodes_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWOPoolCode">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetWOPoolCode" name="GetWOPoolCode" message="tns:GetWOPoolCode" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetWOPoolCodeResponse" name="GetWOPoolCodeResponse" message="tns:GetWOPoolCodeResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetWOPoolCode_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkordersByDates">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetWorkordersByDates" name="GetWorkordersByDates" message="tns:GetWorkordersByDates" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetWorkordersByDatesResponse" name="GetWorkordersByDatesResponse" message="tns:GetWorkordersByDatesResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetWorkordersByDates_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkordersByEquipment">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetWorkordersByEquipment" name="GetWorkordersByEquipment" message="tns:GetWorkordersByEquipment" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetWorkordersByEquipmentResponse" name="GetWorkordersByEquipmentResponse" message="tns:GetWorkordersByEquipmentResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetWorkordersByEquipment_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrderStatusLookup">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetWorkOrderStatusLookup" name="GetWorkOrderStatusLookup" message="tns:GetWorkOrderStatusLookup" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetWorkOrderStatusLookupResponse" name="GetWorkOrderStatusLookupResponse" message="tns:GetWorkOrderStatusLookupResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetWorkOrderStatusLookup_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkOrderTypes">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/GetWorkOrderTypes" name="GetWorkOrderTypes" message="tns:GetWorkOrderTypes" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/GetWorkOrderTypesResponse" name="GetWorkOrderTypesResponse" message="tns:GetWorkOrderTypesResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_GetWorkOrderTypes_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MainCostByProdLine">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/MainCostByProdLine" name="MainCostByProdLine" message="tns:MainCostByProdLine" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/MainCostByProdLineResponse" name="MainCostByProdLineResponse" message="tns:MainCostByProdLineResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_MainCostByProdLine_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostedWorkItems">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/PostedWorkItems" name="PostedWorkItems" message="tns:PostedWorkItems" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/PostedWorkItemsResponse" name="PostedWorkItemsResponse" message="tns:PostedWorkItemsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_PostedWorkItems_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEquipments">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/SearchEquipments" name="SearchEquipments" message="tns:SearchEquipments" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/SearchEquipmentsResponse" name="SearchEquipmentsResponse" message="tns:SearchEquipmentsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_SearchEquipments_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetWOStatus">
      <wsdl:input wsam:Action="http://tempuri.org/WorkItemsService/SetWOStatus" name="SetWOStatus" message="tns:SetWOStatus" />
      <wsdl:output wsam:Action="http://tempuri.org/WorkItemsService/SetWOStatusResponse" name="SetWOStatusResponse" message="tns:SetWOStatusResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WorkItemsService/Fault" name="SoapServiceFaultFault" message="tns:WorkItemsService_SetWOStatus_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>