AlohaAPI/Connected Services/AlohaServices/AlohaServicesGroup8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AlohaServicesGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AlohaServicesGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EcoResProductContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchNameArabic" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EcoResProductContract" nillable="true" type="tns:EcoResProductContract" />
  <xs:complexType name="PurchaseLineContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseLineContract" nillable="true" type="tns:PurchaseLineContract" />
  <xs:complexType name="PurchaseTableContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q3:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchStatus" type="tns:PurchStatus" />
          <xs:element minOccurs="0" name="PurchaseID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchaseLines" nillable="true" type="tns:ArrayOfPurchaseLineContract" />
          <xs:element minOccurs="0" name="PurchaseName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchaseTableContract" nillable="true" type="tns:PurchaseTableContract" />
  <xs:simpleType name="PurchStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Backorder" />
      <xs:enumeration value="Received" />
      <xs:enumeration value="Invoiced" />
      <xs:enumeration value="Canceled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PurchStatus" nillable="true" type="tns:PurchStatus" />
  <xs:complexType name="ArrayOfPurchaseLineContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseLineContract" nillable="true" type="tns:PurchaseLineContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseLineContract" nillable="true" type="tns:ArrayOfPurchaseLineContract" />
  <xs:complexType name="PurchReqLineServiceContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q4:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchReqLineServiceContract" nillable="true" type="tns:PurchReqLineServiceContract" />
  <xs:complexType name="PurchReqServiceContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q5:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PurchReqLines" nillable="true" type="tns:ArrayOfPurchReqLineServiceContract" />
          <xs:element minOccurs="0" name="PurchStatus" type="tns:PurchReqRequisitionStatus" />
          <xs:element minOccurs="0" name="PurchaseReqID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchaseReqName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PurchReqServiceContract" nillable="true" type="tns:PurchReqServiceContract" />
  <xs:complexType name="ArrayOfPurchReqLineServiceContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchReqLineServiceContract" nillable="true" type="tns:PurchReqLineServiceContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchReqLineServiceContract" nillable="true" type="tns:ArrayOfPurchReqLineServiceContract" />
  <xs:simpleType name="PurchReqRequisitionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="InReview">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rejected">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Approved">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Closed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReferencedByBudgetReservation_PSN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PurchReqRequisitionStatus" nillable="true" type="tns:PurchReqRequisitionStatus" />
  <xs:complexType name="ArrayOfEcoResProductContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EcoResProductContract" nillable="true" type="tns:EcoResProductContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEcoResProductContract" nillable="true" type="tns:ArrayOfEcoResProductContract" />
</xs:schema>