AlohaAPI/Connected Services/AlohaServices/AlohaServicesGroup7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AlohaServicesGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AlohaServicesGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/AlohaServicesGroup?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/EcoResProductQuery" />
  <xs:element name="EcoResProductQueryServiceGetProductInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ProductNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceGetProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:EcoResProductContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreateProductMasterRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q2:EcoResProductContract" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreateProductMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q3:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/EcoResProductQuery" minOccurs="0" ref="q4:EcoResProductQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreatePurchaseOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q5:PurchaseTableContract" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreatePurchaseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceGetProductsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceGetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:ArrayOfEcoResProductContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreatePurchaseReqRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q7:PurchReqServiceContract" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreatePurchaseReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreateProductItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_contract" nillable="true" type="q8:EcoResProductContract" />
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EcoResProductQueryServiceCreateProductItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>