AlohaAPI/Connected Services/AlohaServices/AlohaServicesGroup1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlohaServicesGroup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_EcoResProductQueryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://fac-stage-ax04:8101/DynamicsAx/Services/AlohaServicesGroup?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_EcoResProductQueryService" type="i0:EcoResProductQueryService">
    <wsp:PolicyReference URI="#NetTcpBinding_EcoResProductQueryService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProductInfo">
      <soap12:operation soapAction="http://tempuri.org/EcoResProductQueryService/GetProductInfo" style="document" />
      <wsdl:input name="EcoResProductQueryServiceGetProductInfoRequest">
        <soap12:header message="i0:EcoResProductQueryServiceGetProductInfoRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EcoResProductQueryServiceGetProductInfoResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateProductMaster">
      <soap12:operation soapAction="http://tempuri.org/EcoResProductQueryService/CreateProductMaster" style="document" />
      <wsdl:input name="EcoResProductQueryServiceCreateProductMasterRequest">
        <soap12:header message="i0:EcoResProductQueryServiceCreateProductMasterRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EcoResProductQueryServiceCreateProductMasterResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap12:operation soapAction="http://tempuri.org/EcoResProductQueryService/read" style="document" />
      <wsdl:input name="EcoResProductQueryServiceReadRequest">
        <soap12:header message="i0:EcoResProductQueryServiceReadRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EcoResProductQueryServiceReadResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchaseOrder">
      <soap12:operation soapAction="http://tempuri.org/EcoResProductQueryService/CreatePurchaseOrder" style="document" />
      <wsdl:input name="EcoResProductQueryServiceCreatePurchaseOrderRequest">
        <soap12:header message="i0:EcoResProductQueryServiceCreatePurchaseOrderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EcoResProductQueryServiceCreatePurchaseOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/EcoResProductQueryService/GetProducts" style="document" />
      <wsdl:input name="EcoResProductQueryServiceGetProductsRequest">
        <soap12:header message="i0:EcoResProductQueryServiceGetProductsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EcoResProductQueryServiceGetProductsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchaseReq">
      <soap12:operation soapAction="http://tempuri.org/EcoResProductQueryService/CreatePurchaseReq" style="document" />
      <wsdl:input name="EcoResProductQueryServiceCreatePurchaseReqRequest">
        <soap12:header message="i0:EcoResProductQueryServiceCreatePurchaseReqRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EcoResProductQueryServiceCreatePurchaseReqResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateProductItem">
      <soap12:operation soapAction="http://tempuri.org/EcoResProductQueryService/CreateProductItem" style="document" />
      <wsdl:input name="EcoResProductQueryServiceCreateProductItemRequest">
        <soap12:header message="i0:EcoResProductQueryServiceCreateProductItemRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EcoResProductQueryServiceCreateProductItemResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlohaServicesGroup">
    <wsdl:port name="NetTcpBinding_EcoResProductQueryService" binding="tns:NetTcpBinding_EcoResProductQueryService">
      <soap12:address location="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/AlohaServicesGroup" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/AlohaServicesGroup</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ax2@kabholding.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>