SCServices/Service References/UserMgtServices/UserMgtServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd3" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/UserMgtServices?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserManagementServiceLoginUserRequest">
    <wsdl:part name="parameters" element="tns:UserManagementServiceLoginUserRequest" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceLoginUserRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceLoginUserResponse">
    <wsdl:part name="parameters" element="tns:UserManagementServiceLoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_LoginUser_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceGetUserInfoRequest">
    <wsdl:part name="parameters" element="tns:UserManagementServiceGetUserInfoRequest" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceGetUserInfoRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceGetUserInfoResponse">
    <wsdl:part name="parameters" element="tns:UserManagementServiceGetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_GetUserInfo_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceGetCCAttendanceRequest">
    <wsdl:part name="parameters" element="tns:UserManagementServiceGetCCAttendanceRequest" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceGetCCAttendanceRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="UserManagementServiceGetCCAttendanceResponse">
    <wsdl:part name="parameters" element="tns:UserManagementServiceGetCCAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="UserManagementService_GetCCAttendance_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:portType name="UserManagementService">
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UserManagementService/LoginUser" name="UserManagementServiceLoginUserRequest" message="tns:UserManagementServiceLoginUserRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserManagementService/LoginUserResponse" name="UserManagementServiceLoginUserResponse" message="tns:UserManagementServiceLoginUserResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserManagementService/LoginUserAifFaultFault" name="AifFaultFault" message="tns:UserManagementService_LoginUser_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/UserManagementService/GetUserInfo" name="UserManagementServiceGetUserInfoRequest" message="tns:UserManagementServiceGetUserInfoRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserManagementService/GetUserInfoResponse" name="UserManagementServiceGetUserInfoResponse" message="tns:UserManagementServiceGetUserInfoResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserManagementService/GetUserInfoAifFaultFault" name="AifFaultFault" message="tns:UserManagementService_GetUserInfo_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCCAttendance">
      <wsdl:input wsaw:Action="http://tempuri.org/UserManagementService/GetCCAttendance" name="UserManagementServiceGetCCAttendanceRequest" message="tns:UserManagementServiceGetCCAttendanceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserManagementService/GetCCAttendanceResponse" name="UserManagementServiceGetCCAttendanceResponse" message="tns:UserManagementServiceGetCCAttendanceResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/UserManagementService/GetCCAttendanceAifFaultFault" name="AifFaultFault" message="tns:UserManagementService_GetCCAttendance_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>