SCServices/Service References/InventCountingService/InventCountingServiceGroup4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/InventCountingServiceGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/InventCountingServiceGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/InventCountingServiceGroup?xsd=xsd7" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/JournalCounting" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/InventCountingServiceGroup?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="JournalCountingServiceGetItemsAvailableRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetItemsAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfInventSumContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetItemUoMRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="allItems" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetItemUoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfInventForItemUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetYearFGInventoryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetYearFGInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfInventAvailContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceUpdateTransferItemsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q4:ArrayOfSCForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceUpdateTransferItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q5:ArrayOfSCForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceUpdateCountingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="journald" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q6:ArrayOfInventJournalTransContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceUpdateCountingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q7:ArrayOfInventJournalTransContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetCountingJournalsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetCountingJournalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:ArrayOfInventJournalTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetWarehouseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q9:ArrayOfWarehouseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetWHLocationsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceGetWHLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:ArrayOfWmsLocationContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q11:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/JournalCounting" minOccurs="0" ref="q12:JournalCounting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q13:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JournalCountingServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/JournalCounting" minOccurs="0" ref="q14:JournalCounting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>