TestWebservice/Service References/UserMgtServices/UserMgtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserMgtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58380/UserMgtService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58380/UserMgtService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58380/UserMgtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncServices" />
      <xsd:import schemaLocation="http://localhost:58380/UserMgtService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://localhost:58380/UserMgtService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserMgtService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_GetAttendances_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttendances" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_GetAttendances_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttendancesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_GetPing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPing" />
  </wsdl:message>
  <wsdl:message name="IUserMgtService_GetPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPingResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserMgtService">
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgtService/LoginUser" message="tns:IUserMgtService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgtService/LoginUserResponse" message="tns:IUserMgtService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgtService/GetUserInfo" message="tns:IUserMgtService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgtService/GetUserInfoResponse" message="tns:IUserMgtService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttendances">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgtService/GetAttendances" message="tns:IUserMgtService_GetAttendances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgtService/GetAttendancesResponse" message="tns:IUserMgtService_GetAttendances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgtService/DownloadFile" message="tns:IUserMgtService_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgtService/DownloadFileResponse" message="tns:IUserMgtService_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgtService/GetPing" message="tns:IUserMgtService_GetPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgtService/GetPingResponse" message="tns:IUserMgtService_GetPing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserMgtService" type="tns:IUserMgtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IUserMgtService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IUserMgtService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttendances">
      <soap:operation soapAction="http://tempuri.org/IUserMgtService/GetAttendances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IUserMgtService/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <soap:operation soapAction="http://tempuri.org/IUserMgtService/GetPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserMgtService">
    <wsdl:port name="BasicHttpBinding_IUserMgtService" binding="tns:BasicHttpBinding_IUserMgtService">
      <soap:address location="http://localhost:58380/UserMgtService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>