TestWebservice/Service References/ProdRequestService/ProdRequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProdRequestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58380/ProdRequestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58380/ProdRequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58380/ProdRequestService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:58380/ProdRequestService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="http://localhost:58380/ProdRequestService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://localhost:58380/ProdRequestService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdRequestService_GetAllProductionLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductionLines" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_GetAllProductionLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductionLinesResponse" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_GetLineCapacities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLineCapacities" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_GetLineCapacities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLineCapacitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_GetNewProdSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewProdSchedules" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_GetNewProdSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewProdSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_GetProdSchedulesRearrange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProdSchedulesRearrange" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_GetProdSchedulesRearrange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProdSchedulesRearrangeResponse" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_SaveProdSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProdSchedule" />
  </wsdl:message>
  <wsdl:message name="IProdRequestService_SaveProdSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProdScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdRequestService">
    <wsdl:operation name="GetAllProductionLines">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdRequestService/GetAllProductionLines" message="tns:IProdRequestService_GetAllProductionLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdRequestService/GetAllProductionLinesResponse" message="tns:IProdRequestService_GetAllProductionLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLineCapacities">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdRequestService/GetLineCapacities" message="tns:IProdRequestService_GetLineCapacities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdRequestService/GetLineCapacitiesResponse" message="tns:IProdRequestService_GetLineCapacities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewProdSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdRequestService/GetNewProdSchedules" message="tns:IProdRequestService_GetNewProdSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdRequestService/GetNewProdSchedulesResponse" message="tns:IProdRequestService_GetNewProdSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProdSchedulesRearrange">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdRequestService/GetProdSchedulesRearrange" message="tns:IProdRequestService_GetProdSchedulesRearrange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdRequestService/GetProdSchedulesRearrangeResponse" message="tns:IProdRequestService_GetProdSchedulesRearrange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProdSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdRequestService/SaveProdSchedule" message="tns:IProdRequestService_SaveProdSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdRequestService/SaveProdScheduleResponse" message="tns:IProdRequestService_SaveProdSchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdRequestService" type="tns:IProdRequestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProductionLines">
      <soap:operation soapAction="http://tempuri.org/IProdRequestService/GetAllProductionLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLineCapacities">
      <soap:operation soapAction="http://tempuri.org/IProdRequestService/GetLineCapacities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewProdSchedules">
      <soap:operation soapAction="http://tempuri.org/IProdRequestService/GetNewProdSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdSchedulesRearrange">
      <soap:operation soapAction="http://tempuri.org/IProdRequestService/GetProdSchedulesRearrange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProdSchedule">
      <soap:operation soapAction="http://tempuri.org/IProdRequestService/SaveProdSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdRequestService">
    <wsdl:port name="BasicHttpBinding_IProdRequestService" binding="tns:BasicHttpBinding_IProdRequestService">
      <soap:address location="http://localhost:58380/ProdRequestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>