DynamicsTestWin/Connected Services/ModulaMovement/ModulaMovement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ModulaMovement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.17.0.50/ServicesD365/ModulaMovement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.17.0.50/ServicesD365/ModulaMovement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.17.0.50/ServicesD365/ModulaMovement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModulaMovement_OpenItemCode_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenItemCode" />
  </wsdl:message>
  <wsdl:message name="IModulaMovement_OpenItemCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenItemCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IModulaMovement_ItemsNotUsed_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemsNotUsed" />
  </wsdl:message>
  <wsdl:message name="IModulaMovement_ItemsNotUsed_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemsNotUsedResponse" />
  </wsdl:message>
  <wsdl:message name="IModulaMovement_ItemsNotUsedWithWOId_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemsNotUsedWithWOId" />
  </wsdl:message>
  <wsdl:message name="IModulaMovement_ItemsNotUsedWithWOId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemsNotUsedWithWOIdResponse" />
  </wsdl:message>
  <wsdl:message name="IModulaMovement_ItemsUsedButNotPosted_InputMessage">
    <wsdl:part name="parameters" element="tns:ItemsUsedButNotPosted" />
  </wsdl:message>
  <wsdl:message name="IModulaMovement_ItemsUsedButNotPosted_OutputMessage">
    <wsdl:part name="parameters" element="tns:ItemsUsedButNotPostedResponse" />
  </wsdl:message>
  <wsdl:portType name="IModulaMovement">
    <wsdl:operation name="OpenItemCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IModulaMovement/OpenItemCode" message="tns:IModulaMovement_OpenItemCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModulaMovement/OpenItemCodeResponse" message="tns:IModulaMovement_OpenItemCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemsNotUsed">
      <wsdl:input wsaw:Action="http://tempuri.org/IModulaMovement/ItemsNotUsed" message="tns:IModulaMovement_ItemsNotUsed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModulaMovement/ItemsNotUsedResponse" message="tns:IModulaMovement_ItemsNotUsed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemsNotUsedWithWOId">
      <wsdl:input wsaw:Action="http://tempuri.org/IModulaMovement/ItemsNotUsedWithWOId" message="tns:IModulaMovement_ItemsNotUsedWithWOId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModulaMovement/ItemsNotUsedWithWOIdResponse" message="tns:IModulaMovement_ItemsNotUsedWithWOId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemsUsedButNotPosted">
      <wsdl:input wsaw:Action="http://tempuri.org/IModulaMovement/ItemsUsedButNotPosted" message="tns:IModulaMovement_ItemsUsedButNotPosted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModulaMovement/ItemsUsedButNotPostedResponse" message="tns:IModulaMovement_ItemsUsedButNotPosted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModulaMovement" type="tns:IModulaMovement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenItemCode">
      <soap:operation soapAction="http://tempuri.org/IModulaMovement/OpenItemCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsNotUsed">
      <soap:operation soapAction="http://tempuri.org/IModulaMovement/ItemsNotUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsNotUsedWithWOId">
      <soap:operation soapAction="http://tempuri.org/IModulaMovement/ItemsNotUsedWithWOId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsUsedButNotPosted">
      <soap:operation soapAction="http://tempuri.org/IModulaMovement/ItemsUsedButNotPosted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModulaMovement">
    <wsdl:port name="BasicHttpBinding_IModulaMovement" binding="tns:BasicHttpBinding_IModulaMovement">
      <soap:address location="http://172.17.0.50/ServicesD365/ModulaMovement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>