WcfMobile/Connected Services/SalesServicesGroup/SalesServicesGroup2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/SalesServicesGroup?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://fac-stage-ax04:8101/DynamicsAx/Services/SalesServicesGroup?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CaseServiceCreateCustomerCaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q1:CustomerCaseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceCreateCustomerCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceDeleteCustomerCaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceDeleteCustomerCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:CustomerCaseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetPriorityLookupRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetPriorityLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceUpdateCustomerCaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q4:CustomerCaseContract" />
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceUpdateCustomerCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetResolutionLookupRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetResolutionLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q5:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetStatusLookupRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetStatusLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCustomerCasesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCustomerCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q7:ArrayOfCustomerCaseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCasesSummaryByCustRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCasesSummaryByCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:ArrayOfSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCategoryTypeLookupRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CaseServiceGetCategoryTypeLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q9:ArrayOfCategoryTypeLookup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnHandByItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnHandByItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:ArrayOfOnHandContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductsByCustomerAllRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductsByCustomerAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q11:ArrayOfProductContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:ProductContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnhandQueryByCustomerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnhandQueryByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q13:ArrayOfOnHandContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnHandByCustomerZeroStockRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnHandByCustomerZeroStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q14:ArrayOfOnHandContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductionRequestsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductionRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q15:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnHandByCustomerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetOnHandByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q16:ArrayOfOnHandContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerOlderStockRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerOlderStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q17:ArrayOfOlderStockContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerOlderStockOverallRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerOlderStockOverallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q18:ArrayOfOlderStockContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetInvoiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_invoiceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q19:CustomerInvoiceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetInvoicesByDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_dateSearch" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetInvoicesByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q20:ArrayOfCustomerInvoiceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetInvoicesBySalesIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetInvoicesBySalesIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q21:ArrayOfCustomerInvoiceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerInvoicesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q22:ArrayOfCustomerInvoiceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductsByModelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductsByModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q23:ProductContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerInvoicesByDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_dateSearch" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetCustomerInvoicesByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q24:ArrayOfCustomerInvoiceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductsBySizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceGetProductsBySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q25:ProductContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceOutstandingBalanceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventOnHandServiceOutstandingBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceUpdatePrePickingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q26:PrePickingContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceUpdatePrePickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceDeletePrePickingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceDeletePrePickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetOnhandByGradeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_accountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetOnhandByGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q27:ArrayOfOnhandByGradeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetSinglePrePickingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_prePickId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetSinglePrePickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q28:PrePickingContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetPrePickingsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetPrePickingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q29:ArrayOfPrePickingContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceStatusUpdatePrePickingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceStatusUpdatePrePickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetOnhandByGradeSizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetOnhandByGradeSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q30:ArrayOfOnhandByGradeSizeColorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetOnhandByGradeSizeWithOnOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetOnhandByGradeSizeWithOnOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q31:ArrayOfOnhandByGradeSizeColorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetStatusLookupRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceGetStatusLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q32:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceCreatePrePickingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q33:PrePickingContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrePickingServiceCreatePrePickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceCreateCustPlanRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q34:CustForcastPlanContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceCreateCustPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceDeleteCustPlanRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceDeleteCustPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q35:ArrayOfCustForcastPlanContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanByMonthSizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearId" type="xs:int" />
        <xs:element minOccurs="0" name="monthId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sizeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanByMonthSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q36:ArrayOfCustForcastPlanContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceUpdateCustPlanRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q37:CustForcastPlanContract" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceUpdateCustPlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanByMonthRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearId" type="xs:int" />
        <xs:element minOccurs="0" name="monthId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanByMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q38:ArrayOfCustForcastPlanContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetMonthlyForcastBySizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemSize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearId" type="xs:int" />
        <xs:element minOccurs="0" name="monthId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetMonthlyForcastBySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q39:ArrayOfForcastSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetMonthlyForcastSummaryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearId" type="xs:int" />
        <xs:element minOccurs="0" name="monthId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetMonthlyForcastSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q40:ArrayOfForcastSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanBySizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearId" type="xs:int" />
        <xs:element minOccurs="0" name="sizeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetCustPlanBySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q41:ArrayOfCustForcastPlanContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetYearlyForcastBySizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yearId" type="xs:int" />
        <xs:element minOccurs="0" name="_itemSize" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetYearlyForcastBySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q42:ArrayOfForcastSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetSortingLinesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetSortingLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="response" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetItemSizesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdPlanServiceGetItemSizesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q44:ArrayOfItemSizeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceUpdateProdRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q45:ProdRequestContract" />
        <xs:element minOccurs="0" name="_custReqId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceUpdateProdRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestSummaryByCustRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestSummaryByCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q46:ArrayOfSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesRearrangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_prodLineId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesRearrangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q47:ArrayOfProdScheduleDragDropContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q48:ArrayOfProdScheduleContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesByDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_dateSearch" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q49:ArrayOfProdScheduleContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesByItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesByItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q50:ArrayOfProdScheduleContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProductionRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custReqId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProductionRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q51:ProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesByRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdSchedulesByRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q52:ProdScheduleContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestListBySizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_size" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestListBySizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q53:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProductionRequestListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProductionRequestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q54:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceSaveProdSchedulesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q55:ArrayOfProdScheduleDragDropContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceSaveProdSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceCreateProdRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="row" nillable="true" type="q56:ProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceCreateProdRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceDeleteProdRequestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custReqId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceDeleteProdRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetAllProductionLinesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetAllProductionLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="response" nillable="true" type="q57:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestByDateListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="_reqDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestByDateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q58:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestByStatusListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="_reqStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestByStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q59:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetLineCapacitiesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_prodLineId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetLineCapacitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q60:ArrayOfSLCapacityContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestListByItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestListByItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q61:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetNewProdSchedulesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetNewProdSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q62:ArrayOfProdScheduleDragDropContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestListByItemNotFinishedRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNo" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestListByItemNotFinishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q63:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestByMonthAndSizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemSize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_monthOfYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdRequestByMonthAndSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q64:ArrayOfProdRequestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdReqStatusLookupRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdRequestServiceGetProdReqStatusLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q65:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>