SoapUtility/Service References/InventCountingService/InventCountingServiceGroup21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventCountingServiceGroup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_JournalCountingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="https://acmc.operations.dynamics.com/soap/services/InventCountingServiceGroup?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_JournalCountingService" type="i0:JournalCountingService">
    <wsp:PolicyReference URI="#BasicHttpBinding_JournalCountingService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountingJournals">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/GetCountingJournals" style="document" />
      <wsdl:input name="GetCountingJournals">
        <soap:header message="i0:GetCountingJournals_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCountingJournalsResponse">
        <soap:header message="i0:GetCountingJournalsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemsAvailable">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/GetItemsAvailable" style="document" />
      <wsdl:input name="GetItemsAvailable">
        <soap:header message="i0:GetItemsAvailable_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetItemsAvailableResponse">
        <soap:header message="i0:GetItemsAvailableResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemUoM">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/GetItemUoM" style="document" />
      <wsdl:input name="GetItemUoM">
        <soap:header message="i0:GetItemUoM_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetItemUoMResponse">
        <soap:header message="i0:GetItemUoMResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/GetWarehouse" style="document" />
      <wsdl:input name="GetWarehouse">
        <soap:header message="i0:GetWarehouse_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetWarehouseResponse">
        <soap:header message="i0:GetWarehouseResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWHLocations">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/GetWHLocations" style="document" />
      <wsdl:input name="GetWHLocations">
        <soap:header message="i0:GetWHLocations_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetWHLocationsResponse">
        <soap:header message="i0:GetWHLocationsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetYearFGInventory">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/GetYearFGInventory" style="document" />
      <wsdl:input name="GetYearFGInventory">
        <soap:header message="i0:GetYearFGInventory_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetYearFGInventoryResponse">
        <soap:header message="i0:GetYearFGInventoryResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCounting">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/UpdateCounting" style="document" />
      <wsdl:input name="UpdateCounting">
        <soap:header message="i0:UpdateCounting_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateCountingResponse">
        <soap:header message="i0:UpdateCountingResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransferItems">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/UpdateTransferItems" style="document" />
      <wsdl:input name="UpdateTransferItems">
        <soap:header message="i0:UpdateTransferItems_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateTransferItemsResponse">
        <soap:header message="i0:UpdateTransferItemsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFixedAssetListing">
      <soap:operation soapAction="http://tempuri.org/JournalCountingService/GetFixedAssetListing" style="document" />
      <wsdl:input name="GetFixedAssetListing">
        <soap:header message="i0:GetFixedAssetListing_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetFixedAssetListingResponse">
        <soap:header message="i0:GetFixedAssetListingResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventCountingServiceGroup">
    <wsdl:port name="BasicHttpBinding_JournalCountingService" binding="tns:BasicHttpBinding_JournalCountingService">
      <soap:address location="https://acmc.operations.dynamics.com/soap/services/InventCountingServiceGroup" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>