WcfMobile/Connected Services/EAMServices/EAMServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/WorkItems" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/WorkItems" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-dbtest-axr3:8101/DynamicsAx/Services/EAMServices?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="WorkItems" type="tns:AxdWorkItems" />
  <xs:complexType name="AxdWorkItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EamWorkitems" type="tns:AxdEntity_EamWorkitems" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_EamWorkitems">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPosted" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="IsUsed" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="STO_ActualRequester" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Sto_CostCenter" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Sto_HostRIF" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="1" name="Sto_ID" type="st:AxdExtType_Integer" />
      <xs:element minOccurs="0" name="Sto_Item" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Sto_Operator" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Sto_Quantity" nillable="true" type="st:AxdType_Decimal" />
      <xs:element minOccurs="0" name="STO_RefRequistNum" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Sto_ReqNote" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="STO_Requester" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Sto_Time" nillable="true" type="st:AxdType_DateTime" />
      <xs:element minOccurs="0" name="Sto_WmsLocID" nillable="true" type="st:AxdType_Int64" />
      <xs:element minOccurs="0" name="WorkOrderID" nillable="true" type="st:AxdExtType_PMWorkOrderID" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>