TestWebservice/Service References/SCSyncService/SCSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SCSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncServices" />
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SyncServices.InventCountingService" />
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISCSyncService_GetPing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPing" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPingResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_ResetData_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetData" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_ResetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetSCUnitOfMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSCUnitOfMeasure" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetSCUnitOfMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSCUnitOfMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetSCUnitOfMeasureFromAX_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSCUnitOfMeasureFromAX" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetSCUnitOfMeasureFromAX_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSCUnitOfMeasureFromAXResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_UpdateSCDesktop_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSCDesktop" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_UpdateSCDesktop_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSCDesktopResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetWHLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWHLocations" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetWHLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWHLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_TransferItemsToNewLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferItemsToNewLocation" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_TransferItemsToNewLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferItemsToNewLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="ISCSyncService">
    <wsdl:operation name="GetPing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/GetPing" message="tns:ISCSyncService_GetPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/GetPingResponse" message="tns:ISCSyncService_GetPing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/ResetData" message="tns:ISCSyncService_ResetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/ResetDataResponse" message="tns:ISCSyncService_ResetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSCUnitOfMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/GetSCUnitOfMeasure" message="tns:ISCSyncService_GetSCUnitOfMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/GetSCUnitOfMeasureResponse" message="tns:ISCSyncService_GetSCUnitOfMeasure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSCUnitOfMeasureFromAX">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/GetSCUnitOfMeasureFromAX" message="tns:ISCSyncService_GetSCUnitOfMeasureFromAX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/GetSCUnitOfMeasureFromAXResponse" message="tns:ISCSyncService_GetSCUnitOfMeasureFromAX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/GetUserData" message="tns:ISCSyncService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/GetUserDataResponse" message="tns:ISCSyncService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSCDesktop">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/UpdateSCDesktop" message="tns:ISCSyncService_UpdateSCDesktop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/UpdateSCDesktopResponse" message="tns:ISCSyncService_UpdateSCDesktop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWHLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/GetWHLocations" message="tns:ISCSyncService_GetWHLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/GetWHLocationsResponse" message="tns:ISCSyncService_GetWHLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferItemsToNewLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/TransferItemsToNewLocation" message="tns:ISCSyncService_TransferItemsToNewLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/TransferItemsToNewLocationResponse" message="tns:ISCSyncService_TransferItemsToNewLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISCSyncService" type="tns:ISCSyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPing">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/GetPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetData">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/ResetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSCUnitOfMeasure">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/GetSCUnitOfMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSCUnitOfMeasureFromAX">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/GetSCUnitOfMeasureFromAX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSCDesktop">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/UpdateSCDesktop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWHLocations">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/GetWHLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferItemsToNewLocation">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/TransferItemsToNewLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCSyncService">
    <wsdl:port name="BasicHttpBinding_ISCSyncService" binding="tns:BasicHttpBinding_ISCSyncService">
      <soap:address location="http://localhost:58380/SCSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>