TestWebservice/Service References/SCSyncService/SCSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SCSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58380/SCSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISCSyncService_ResetData_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetData" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_ResetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_UpdateSCDesktop_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSCDesktop" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_UpdateSCDesktop_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSCDesktopResponse" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetPing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPing" />
  </wsdl:message>
  <wsdl:message name="ISCSyncService_GetPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPingResponse" />
  </wsdl:message>
  <wsdl:portType name="ISCSyncService">
    <wsdl:operation name="ResetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/ResetData" message="tns:ISCSyncService_ResetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/ResetDataResponse" message="tns:ISCSyncService_ResetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSCDesktop">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/UpdateSCDesktop" message="tns:ISCSyncService_UpdateSCDesktop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/UpdateSCDesktopResponse" message="tns:ISCSyncService_UpdateSCDesktop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <wsdl:input wsaw:Action="http://tempuri.org/ISCSyncService/GetPing" message="tns:ISCSyncService_GetPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISCSyncService/GetPingResponse" message="tns:ISCSyncService_GetPing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISCSyncService" type="tns:ISCSyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ResetData">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/ResetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSCDesktop">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/UpdateSCDesktop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPing">
      <soap:operation soapAction="http://tempuri.org/ISCSyncService/GetPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCSyncService">
    <wsdl:port name="BasicHttpBinding_ISCSyncService" binding="tns:BasicHttpBinding_ISCSyncService">
      <soap:address location="http://localhost:58380/SCSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>