TestWebservice/Service References/SCSyncService/SCSyncService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SyncServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SyncServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemEntity" nillable="true" type="tns:ItemEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemEntity" nillable="true" type="tns:ArrayOfItemEntity" />
  <xs:complexType name="ItemEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableCount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMatched" type="xs:boolean" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhysicalCount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProcessByIT" type="xs:boolean" />
      <xs:element minOccurs="0" name="SyncId" type="xs:long" />
      <xs:element minOccurs="0" name="UoM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemEntity" nillable="true" type="tns:ItemEntity" />
  <xs:complexType name="ArrayOfUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserData" nillable="true" type="tns:ArrayOfUserData" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
</xs:schema>