SoapUtility/Service References/MiscServiceGroup/MiscServiceGroup4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SOReserve" elementFormDefault="qualified" targetNamespace="SOReserve" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="PalletsReserving">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_lineRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="pallets" nillable="true" type="q1:ArrayOfAcmcSalesLineContract" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PalletsReservingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q2:ArrayOfAcmcSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostedWorkItemsNew">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PostedWorkItemsNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q3:ArrayOfEamWorkitemsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>