SoapUtility/Service References/MiscServiceGroup/MiscServiceGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ModulaMovement" elementFormDefault="qualified" targetNamespace="ModulaMovement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="OpenWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemsNotUsed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemsNotUsedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q1:ArrayOfModulaItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemsUsedButNotPosted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemsUsedButNotPostedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q2:ArrayOfModulaItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemsNotUsedWithWOId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemsNotUsedWithWOIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q3:ArrayOfModulaItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>