SoapUtility/Service References/MiscServiceGroup/MiscServiceGroup7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnderstockItemsInfoNewService" elementFormDefault="qualified" targetNamespace="UnderstockItemsInfoNewService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="CreateItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="lines" nillable="true" type="q1:ArrayOfUnderStockItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>