SoapUtility/Service References/MiscServiceGroup/MiscServiceGroup2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="SOReserve" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SOReserve" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SOReserve/Imports">
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd2" namespace="SOReserve" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PalletsReserving">
    <wsdl:part name="parameters" element="tns:PalletsReserving" />
  </wsdl:message>
  <wsdl:message name="PalletsReserving_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="PalletsReservingResponse">
    <wsdl:part name="parameters" element="tns:PalletsReservingResponse" />
  </wsdl:message>
  <wsdl:message name="PalletsReservingResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOReserve_PalletsReserving_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="ServiceTest">
    <wsdl:part name="parameters" element="tns:ServiceTest" />
  </wsdl:message>
  <wsdl:message name="ServiceTest_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="ServiceTestResponse">
    <wsdl:part name="parameters" element="tns:ServiceTestResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTestResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOReserve_ServiceTest_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:message name="WorkItemsPosted">
    <wsdl:part name="parameters" element="tns:WorkItemsPosted" />
  </wsdl:message>
  <wsdl:message name="WorkItemsPosted_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="WorkItemsPostedResponse">
    <wsdl:part name="parameters" element="tns:WorkItemsPostedResponse" />
  </wsdl:message>
  <wsdl:message name="WorkItemsPostedResponse_Headers">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q8:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOReserve_WorkItemsPosted_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q9:Fault" />
  </wsdl:message>
  <wsdl:portType name="SOReserve">
    <wsdl:operation name="PalletsReserving">
      <wsdl:input wsam:Action="SOReserve/SOReserve/PalletsReserving" name="PalletsReserving" message="tns:PalletsReserving" />
      <wsdl:output wsam:Action="SOReserve/SOReserve/PalletsReservingResponse" name="PalletsReservingResponse" message="tns:PalletsReservingResponse" />
      <wsdl:fault wsam:Action="SOReserve/SOReserve/Fault" name="SoapServiceFaultFault" message="tns:SOReserve_PalletsReserving_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceTest">
      <wsdl:input wsam:Action="SOReserve/SOReserve/ServiceTest" name="ServiceTest" message="tns:ServiceTest" />
      <wsdl:output wsam:Action="SOReserve/SOReserve/ServiceTestResponse" name="ServiceTestResponse" message="tns:ServiceTestResponse" />
      <wsdl:fault wsam:Action="SOReserve/SOReserve/Fault" name="SoapServiceFaultFault" message="tns:SOReserve_ServiceTest_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkItemsPosted">
      <wsdl:input wsam:Action="SOReserve/SOReserve/WorkItemsPosted" name="WorkItemsPosted" message="tns:WorkItemsPosted" />
      <wsdl:output wsam:Action="SOReserve/SOReserve/WorkItemsPostedResponse" name="WorkItemsPostedResponse" message="tns:WorkItemsPostedResponse" />
      <wsdl:fault wsam:Action="SOReserve/SOReserve/Fault" name="SoapServiceFaultFault" message="tns:SOReserve_WorkItemsPosted_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>