SoapUtility/Service References/SOPickServiceGroup/SOPickServiceGroup7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp.AxShared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp.AxShared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Date">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_value" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Date" nillable="true" type="tns:Date" />
  <xs:complexType name="utcdatetime">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_value" type="xs:dateTime" />
      <xs:element name="ruleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="utcdatetime" nillable="true" type="tns:utcdatetime" />
</xs:schema>