SoapUtility/Service References/SOPickServiceGroup/SOPickServiceGroup2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="SOPickService" elementFormDefault="qualified" targetNamespace="SOPickService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="ChangeTruckLoadingLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineNum" type="xs:int" />
        <xs:element minOccurs="0" name="pickingNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTruckLoadingLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPalletAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPalletAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q1:SalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPalletAvailableMulti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="serials" nillable="true" type="q2:ArrayOfPalletItemContract" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPalletAvailableMultiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q3:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersDeliveryByQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersDeliveryByQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q4:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersDeliveryByTrucks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersDeliveryByTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q5:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findPickingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findPickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q6:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findSalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findSalesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q7:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findSalesOrdersList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findSalesOrdersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q8:ArrayOfSalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDeliveries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="theDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q9:ArrayOfFGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDeliveriesByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_customerAccount" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_status" type="q10:PickingListStatus" />
        <xs:element minOccurs="0" name="theDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDeliveriesByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q11:ArrayOfFGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyDeliverySummaryByCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyDeliverySummaryByCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q12:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q13:ArrayOfFGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryStatusLookup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryStatusLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q14:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliverySummaryByCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliverySummaryByCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q15:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFGLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFGLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q16:ArrayOfFGLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestPallets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pickingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q17:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenPickingListByCustByItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenPickingListByCustByItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q18:ArrayOfPLNotDeliveredContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_serialId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPalletInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q19:PalletContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q20:FGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePickingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q21:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservePallets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="pallets" nillable="true" type="q22:ArrayOfSalesLineContract" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservePalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q23:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="history" nillable="true" type="q24:PickHistoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePickingLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startLoad" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stopLoad" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePickingLoadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnreservePallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnreservePalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesDeliveryNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_salesId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesDeliveryNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PalletsReserving">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="pallets" nillable="true" type="q25:ArrayOfSalesLineContract" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PalletsReservingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q26:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Evs_ServiceMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Evs_ServiceMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>