SoapUtility/Service References/SOPickServiceGroup/SOPickServiceGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="SOPickService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SOPickService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SOPickService/Imports">
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd2" namespace="SOPickService" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
      <xsd:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp.AxShared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ChangeTruckLoadingLine">
    <wsdl:part name="parameters" element="tns:ChangeTruckLoadingLine" />
  </wsdl:message>
  <wsdl:message name="ChangeTruckLoadingLine_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="ChangeTruckLoadingLineResponse">
    <wsdl:part name="parameters" element="tns:ChangeTruckLoadingLineResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeTruckLoadingLineResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_ChangeTruckLoadingLine_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailable">
    <wsdl:part name="parameters" element="tns:CheckPalletAvailable" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailable_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailableResponse">
    <wsdl:part name="parameters" element="tns:CheckPalletAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailableResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_CheckPalletAvailable_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailableMulti">
    <wsdl:part name="parameters" element="tns:CheckPalletAvailableMulti" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailableMulti_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailableMultiResponse">
    <wsdl:part name="parameters" element="tns:CheckPalletAvailableMultiResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPalletAvailableMultiResponse_Headers">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q8:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_CheckPalletAvailableMulti_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q9:Fault" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByQty">
    <wsdl:part name="parameters" element="tns:CustomersDeliveryByQty" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByQty_Headers">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q10:CallContext" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByQtyResponse">
    <wsdl:part name="parameters" element="tns:CustomersDeliveryByQtyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByQtyResponse_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q11:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_CustomersDeliveryByQty_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q12:Fault" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByTrucks">
    <wsdl:part name="parameters" element="tns:CustomersDeliveryByTrucks" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByTrucks_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByTrucksResponse">
    <wsdl:part name="parameters" element="tns:CustomersDeliveryByTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersDeliveryByTrucksResponse_Headers">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q14:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_CustomersDeliveryByTrucks_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q15:Fault" />
  </wsdl:message>
  <wsdl:message name="findPickingList">
    <wsdl:part name="parameters" element="tns:findPickingList" />
  </wsdl:message>
  <wsdl:message name="findPickingList_Headers">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q16:CallContext" />
  </wsdl:message>
  <wsdl:message name="findPickingListResponse">
    <wsdl:part name="parameters" element="tns:findPickingListResponse" />
  </wsdl:message>
  <wsdl:message name="findPickingListResponse_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q17:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_findPickingList_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q18:Fault" />
  </wsdl:message>
  <wsdl:message name="findSalesOrder">
    <wsdl:part name="parameters" element="tns:findSalesOrder" />
  </wsdl:message>
  <wsdl:message name="findSalesOrder_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="findSalesOrderResponse">
    <wsdl:part name="parameters" element="tns:findSalesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="findSalesOrderResponse_Headers">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q20:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_findSalesOrder_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q21:Fault" />
  </wsdl:message>
  <wsdl:message name="findSalesOrdersList">
    <wsdl:part name="parameters" element="tns:findSalesOrdersList" />
  </wsdl:message>
  <wsdl:message name="findSalesOrdersList_Headers">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q22:CallContext" />
  </wsdl:message>
  <wsdl:message name="findSalesOrdersListResponse">
    <wsdl:part name="parameters" element="tns:findSalesOrdersListResponse" />
  </wsdl:message>
  <wsdl:message name="findSalesOrdersListResponse_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q23:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_findSalesOrdersList_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q24:Fault" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveries">
    <wsdl:part name="parameters" element="tns:GetCustomerDeliveries" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveries_Headers">
    <wsdl:part xmlns:q25="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q25:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveriesResponse">
    <wsdl:part name="parameters" element="tns:GetCustomerDeliveriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveriesResponse_Headers">
    <wsdl:part xmlns:q26="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q26:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetCustomerDeliveries_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q27:Fault" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveriesByStatus">
    <wsdl:part name="parameters" element="tns:GetCustomerDeliveriesByStatus" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveriesByStatus_Headers">
    <wsdl:part xmlns:q28="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q28:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveriesByStatusResponse">
    <wsdl:part name="parameters" element="tns:GetCustomerDeliveriesByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerDeliveriesByStatusResponse_Headers">
    <wsdl:part xmlns:q29="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q29:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetCustomerDeliveriesByStatus_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q30:Fault" />
  </wsdl:message>
  <wsdl:message name="GetDailyDeliverySummaryByCust">
    <wsdl:part name="parameters" element="tns:GetDailyDeliverySummaryByCust" />
  </wsdl:message>
  <wsdl:message name="GetDailyDeliverySummaryByCust_Headers">
    <wsdl:part xmlns:q31="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q31:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetDailyDeliverySummaryByCustResponse">
    <wsdl:part name="parameters" element="tns:GetDailyDeliverySummaryByCustResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyDeliverySummaryByCustResponse_Headers">
    <wsdl:part xmlns:q32="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q32:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetDailyDeliverySummaryByCust_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q33:Fault" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries">
    <wsdl:part name="parameters" element="tns:GetDeliveries" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries_Headers">
    <wsdl:part xmlns:q34="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q34:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesResponse">
    <wsdl:part name="parameters" element="tns:GetDeliveriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesResponse_Headers">
    <wsdl:part xmlns:q35="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q35:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetDeliveries_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q36:Fault" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryStatusLookup">
    <wsdl:part name="parameters" element="tns:GetDeliveryStatusLookup" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryStatusLookup_Headers">
    <wsdl:part xmlns:q37="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q37:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryStatusLookupResponse">
    <wsdl:part name="parameters" element="tns:GetDeliveryStatusLookupResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryStatusLookupResponse_Headers">
    <wsdl:part xmlns:q38="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q38:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetDeliveryStatusLookup_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q39:Fault" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySummaryByCust">
    <wsdl:part name="parameters" element="tns:GetDeliverySummaryByCust" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySummaryByCust_Headers">
    <wsdl:part xmlns:q40="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q40:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySummaryByCustResponse">
    <wsdl:part name="parameters" element="tns:GetDeliverySummaryByCustResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySummaryByCustResponse_Headers">
    <wsdl:part xmlns:q41="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q41:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetDeliverySummaryByCust_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q42:Fault" />
  </wsdl:message>
  <wsdl:message name="GetFGLines">
    <wsdl:part name="parameters" element="tns:GetFGLines" />
  </wsdl:message>
  <wsdl:message name="GetFGLines_Headers">
    <wsdl:part xmlns:q43="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q43:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetFGLinesResponse">
    <wsdl:part name="parameters" element="tns:GetFGLinesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFGLinesResponse_Headers">
    <wsdl:part xmlns:q44="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q44:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetFGLines_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q45="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q45:Fault" />
  </wsdl:message>
  <wsdl:message name="GetLatestPallets">
    <wsdl:part name="parameters" element="tns:GetLatestPallets" />
  </wsdl:message>
  <wsdl:message name="GetLatestPallets_Headers">
    <wsdl:part xmlns:q46="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q46:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetLatestPalletsResponse">
    <wsdl:part name="parameters" element="tns:GetLatestPalletsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestPalletsResponse_Headers">
    <wsdl:part xmlns:q47="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q47:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetLatestPallets_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q48:Fault" />
  </wsdl:message>
  <wsdl:message name="GetOpenPickingListByCustByItem">
    <wsdl:part name="parameters" element="tns:GetOpenPickingListByCustByItem" />
  </wsdl:message>
  <wsdl:message name="GetOpenPickingListByCustByItem_Headers">
    <wsdl:part xmlns:q49="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q49:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetOpenPickingListByCustByItemResponse">
    <wsdl:part name="parameters" element="tns:GetOpenPickingListByCustByItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetOpenPickingListByCustByItemResponse_Headers">
    <wsdl:part xmlns:q50="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q50:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetOpenPickingListByCustByItem_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q51="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q51:Fault" />
  </wsdl:message>
  <wsdl:message name="GetPalletInfo">
    <wsdl:part name="parameters" element="tns:GetPalletInfo" />
  </wsdl:message>
  <wsdl:message name="GetPalletInfo_Headers">
    <wsdl:part xmlns:q52="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q52:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetPalletInfoResponse">
    <wsdl:part name="parameters" element="tns:GetPalletInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPalletInfoResponse_Headers">
    <wsdl:part xmlns:q53="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q53:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetPalletInfo_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q54="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q54:Fault" />
  </wsdl:message>
  <wsdl:message name="GetSingleDelivery">
    <wsdl:part name="parameters" element="tns:GetSingleDelivery" />
  </wsdl:message>
  <wsdl:message name="GetSingleDelivery_Headers">
    <wsdl:part xmlns:q55="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q55:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetSingleDeliveryResponse">
    <wsdl:part name="parameters" element="tns:GetSingleDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleDeliveryResponse_Headers">
    <wsdl:part xmlns:q56="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q56:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_GetSingleDelivery_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q57="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q57:Fault" />
  </wsdl:message>
  <wsdl:message name="LoginDevice">
    <wsdl:part name="parameters" element="tns:LoginDevice" />
  </wsdl:message>
  <wsdl:message name="LoginDevice_Headers">
    <wsdl:part xmlns:q58="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q58:CallContext" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceResponse">
    <wsdl:part name="parameters" element="tns:LoginDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceResponse_Headers">
    <wsdl:part xmlns:q59="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q59:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_LoginDevice_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q60="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q60:Fault" />
  </wsdl:message>
  <wsdl:message name="ReceivePickingList">
    <wsdl:part name="parameters" element="tns:ReceivePickingList" />
  </wsdl:message>
  <wsdl:message name="ReceivePickingList_Headers">
    <wsdl:part xmlns:q61="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q61:CallContext" />
  </wsdl:message>
  <wsdl:message name="ReceivePickingListResponse">
    <wsdl:part name="parameters" element="tns:ReceivePickingListResponse" />
  </wsdl:message>
  <wsdl:message name="ReceivePickingListResponse_Headers">
    <wsdl:part xmlns:q62="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q62:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_ReceivePickingList_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q63="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q63:Fault" />
  </wsdl:message>
  <wsdl:message name="ReservePallets">
    <wsdl:part name="parameters" element="tns:ReservePallets" />
  </wsdl:message>
  <wsdl:message name="ReservePallets_Headers">
    <wsdl:part xmlns:q64="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q64:CallContext" />
  </wsdl:message>
  <wsdl:message name="ReservePalletsResponse">
    <wsdl:part name="parameters" element="tns:ReservePalletsResponse" />
  </wsdl:message>
  <wsdl:message name="ReservePalletsResponse_Headers">
    <wsdl:part xmlns:q65="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q65:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_ReservePallets_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q66="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q66:Fault" />
  </wsdl:message>
  <wsdl:message name="SaveHistory">
    <wsdl:part name="parameters" element="tns:SaveHistory" />
  </wsdl:message>
  <wsdl:message name="SaveHistory_Headers">
    <wsdl:part xmlns:q67="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q67:CallContext" />
  </wsdl:message>
  <wsdl:message name="SaveHistoryResponse">
    <wsdl:part name="parameters" element="tns:SaveHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="SaveHistoryResponse_Headers">
    <wsdl:part xmlns:q68="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q68:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_SaveHistory_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q69="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q69:Fault" />
  </wsdl:message>
  <wsdl:message name="SavePickingLoad">
    <wsdl:part name="parameters" element="tns:SavePickingLoad" />
  </wsdl:message>
  <wsdl:message name="SavePickingLoad_Headers">
    <wsdl:part xmlns:q70="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q70:CallContext" />
  </wsdl:message>
  <wsdl:message name="SavePickingLoadResponse">
    <wsdl:part name="parameters" element="tns:SavePickingLoadResponse" />
  </wsdl:message>
  <wsdl:message name="SavePickingLoadResponse_Headers">
    <wsdl:part xmlns:q71="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q71:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_SavePickingLoad_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q72="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q72:Fault" />
  </wsdl:message>
  <wsdl:message name="UnreservePallet">
    <wsdl:part name="parameters" element="tns:UnreservePallet" />
  </wsdl:message>
  <wsdl:message name="UnreservePallet_Headers">
    <wsdl:part xmlns:q73="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q73:CallContext" />
  </wsdl:message>
  <wsdl:message name="UnreservePalletResponse">
    <wsdl:part name="parameters" element="tns:UnreservePalletResponse" />
  </wsdl:message>
  <wsdl:message name="UnreservePalletResponse_Headers">
    <wsdl:part xmlns:q74="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q74:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_UnreservePallet_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q75="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q75:Fault" />
  </wsdl:message>
  <wsdl:message name="SalesDeliveryNote">
    <wsdl:part name="parameters" element="tns:SalesDeliveryNote" />
  </wsdl:message>
  <wsdl:message name="SalesDeliveryNote_Headers">
    <wsdl:part xmlns:q76="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q76:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesDeliveryNoteResponse">
    <wsdl:part name="parameters" element="tns:SalesDeliveryNoteResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDeliveryNoteResponse_Headers">
    <wsdl:part xmlns:q77="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q77:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_SalesDeliveryNote_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q78="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q78:Fault" />
  </wsdl:message>
  <wsdl:message name="PalletsReserving">
    <wsdl:part name="parameters" element="tns:PalletsReserving" />
  </wsdl:message>
  <wsdl:message name="PalletsReserving_Headers">
    <wsdl:part xmlns:q79="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q79:CallContext" />
  </wsdl:message>
  <wsdl:message name="PalletsReservingResponse">
    <wsdl:part name="parameters" element="tns:PalletsReservingResponse" />
  </wsdl:message>
  <wsdl:message name="PalletsReservingResponse_Headers">
    <wsdl:part xmlns:q80="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q80:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_PalletsReserving_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q81="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q81:Fault" />
  </wsdl:message>
  <wsdl:message name="Evs_ServiceMessage">
    <wsdl:part name="parameters" element="tns:Evs_ServiceMessage" />
  </wsdl:message>
  <wsdl:message name="Evs_ServiceMessage_Headers">
    <wsdl:part xmlns:q82="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q82:CallContext" />
  </wsdl:message>
  <wsdl:message name="Evs_ServiceMessageResponse">
    <wsdl:part name="parameters" element="tns:Evs_ServiceMessageResponse" />
  </wsdl:message>
  <wsdl:message name="Evs_ServiceMessageResponse_Headers">
    <wsdl:part xmlns:q83="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q83:Infolog" />
  </wsdl:message>
  <wsdl:message name="SOPickService_Evs_ServiceMessage_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q84="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q84:Fault" />
  </wsdl:message>
  <wsdl:portType name="SOPickService">
    <wsdl:operation name="ChangeTruckLoadingLine">
      <wsdl:input wsam:Action="SOPickService/SOPickService/ChangeTruckLoadingLine" name="ChangeTruckLoadingLine" message="tns:ChangeTruckLoadingLine" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/ChangeTruckLoadingLineResponse" name="ChangeTruckLoadingLineResponse" message="tns:ChangeTruckLoadingLineResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_ChangeTruckLoadingLine_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPalletAvailable">
      <wsdl:input wsam:Action="SOPickService/SOPickService/CheckPalletAvailable" name="CheckPalletAvailable" message="tns:CheckPalletAvailable" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/CheckPalletAvailableResponse" name="CheckPalletAvailableResponse" message="tns:CheckPalletAvailableResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_CheckPalletAvailable_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPalletAvailableMulti">
      <wsdl:input wsam:Action="SOPickService/SOPickService/CheckPalletAvailableMulti" name="CheckPalletAvailableMulti" message="tns:CheckPalletAvailableMulti" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/CheckPalletAvailableMultiResponse" name="CheckPalletAvailableMultiResponse" message="tns:CheckPalletAvailableMultiResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_CheckPalletAvailableMulti_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomersDeliveryByQty">
      <wsdl:input wsam:Action="SOPickService/SOPickService/CustomersDeliveryByQty" name="CustomersDeliveryByQty" message="tns:CustomersDeliveryByQty" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/CustomersDeliveryByQtyResponse" name="CustomersDeliveryByQtyResponse" message="tns:CustomersDeliveryByQtyResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_CustomersDeliveryByQty_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomersDeliveryByTrucks">
      <wsdl:input wsam:Action="SOPickService/SOPickService/CustomersDeliveryByTrucks" name="CustomersDeliveryByTrucks" message="tns:CustomersDeliveryByTrucks" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/CustomersDeliveryByTrucksResponse" name="CustomersDeliveryByTrucksResponse" message="tns:CustomersDeliveryByTrucksResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_CustomersDeliveryByTrucks_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findPickingList">
      <wsdl:input wsam:Action="SOPickService/SOPickService/findPickingList" name="findPickingList" message="tns:findPickingList" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/findPickingListResponse" name="findPickingListResponse" message="tns:findPickingListResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_findPickingList_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findSalesOrder">
      <wsdl:input wsam:Action="SOPickService/SOPickService/findSalesOrder" name="findSalesOrder" message="tns:findSalesOrder" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/findSalesOrderResponse" name="findSalesOrderResponse" message="tns:findSalesOrderResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_findSalesOrder_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="findSalesOrdersList">
      <wsdl:input wsam:Action="SOPickService/SOPickService/findSalesOrdersList" name="findSalesOrdersList" message="tns:findSalesOrdersList" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/findSalesOrdersListResponse" name="findSalesOrdersListResponse" message="tns:findSalesOrdersListResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_findSalesOrdersList_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDeliveries">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetCustomerDeliveries" name="GetCustomerDeliveries" message="tns:GetCustomerDeliveries" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetCustomerDeliveriesResponse" name="GetCustomerDeliveriesResponse" message="tns:GetCustomerDeliveriesResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetCustomerDeliveries_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDeliveriesByStatus">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetCustomerDeliveriesByStatus" name="GetCustomerDeliveriesByStatus" message="tns:GetCustomerDeliveriesByStatus" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetCustomerDeliveriesByStatusResponse" name="GetCustomerDeliveriesByStatusResponse" message="tns:GetCustomerDeliveriesByStatusResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetCustomerDeliveriesByStatus_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyDeliverySummaryByCust">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetDailyDeliverySummaryByCust" name="GetDailyDeliverySummaryByCust" message="tns:GetDailyDeliverySummaryByCust" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetDailyDeliverySummaryByCustResponse" name="GetDailyDeliverySummaryByCustResponse" message="tns:GetDailyDeliverySummaryByCustResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetDailyDeliverySummaryByCust_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetDeliveries" name="GetDeliveries" message="tns:GetDeliveries" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetDeliveriesResponse" name="GetDeliveriesResponse" message="tns:GetDeliveriesResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetDeliveries_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryStatusLookup">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetDeliveryStatusLookup" name="GetDeliveryStatusLookup" message="tns:GetDeliveryStatusLookup" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetDeliveryStatusLookupResponse" name="GetDeliveryStatusLookupResponse" message="tns:GetDeliveryStatusLookupResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetDeliveryStatusLookup_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliverySummaryByCust">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetDeliverySummaryByCust" name="GetDeliverySummaryByCust" message="tns:GetDeliverySummaryByCust" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetDeliverySummaryByCustResponse" name="GetDeliverySummaryByCustResponse" message="tns:GetDeliverySummaryByCustResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetDeliverySummaryByCust_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFGLines">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetFGLines" name="GetFGLines" message="tns:GetFGLines" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetFGLinesResponse" name="GetFGLinesResponse" message="tns:GetFGLinesResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetFGLines_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestPallets">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetLatestPallets" name="GetLatestPallets" message="tns:GetLatestPallets" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetLatestPalletsResponse" name="GetLatestPalletsResponse" message="tns:GetLatestPalletsResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetLatestPallets_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenPickingListByCustByItem">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetOpenPickingListByCustByItem" name="GetOpenPickingListByCustByItem" message="tns:GetOpenPickingListByCustByItem" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetOpenPickingListByCustByItemResponse" name="GetOpenPickingListByCustByItemResponse" message="tns:GetOpenPickingListByCustByItemResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetOpenPickingListByCustByItem_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPalletInfo">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetPalletInfo" name="GetPalletInfo" message="tns:GetPalletInfo" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetPalletInfoResponse" name="GetPalletInfoResponse" message="tns:GetPalletInfoResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetPalletInfo_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleDelivery">
      <wsdl:input wsam:Action="SOPickService/SOPickService/GetSingleDelivery" name="GetSingleDelivery" message="tns:GetSingleDelivery" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/GetSingleDeliveryResponse" name="GetSingleDeliveryResponse" message="tns:GetSingleDeliveryResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_GetSingleDelivery_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <wsdl:input wsam:Action="SOPickService/SOPickService/LoginDevice" name="LoginDevice" message="tns:LoginDevice" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/LoginDeviceResponse" name="LoginDeviceResponse" message="tns:LoginDeviceResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_LoginDevice_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePickingList">
      <wsdl:input wsam:Action="SOPickService/SOPickService/ReceivePickingList" name="ReceivePickingList" message="tns:ReceivePickingList" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/ReceivePickingListResponse" name="ReceivePickingListResponse" message="tns:ReceivePickingListResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_ReceivePickingList_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReservePallets">
      <wsdl:input wsam:Action="SOPickService/SOPickService/ReservePallets" name="ReservePallets" message="tns:ReservePallets" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/ReservePalletsResponse" name="ReservePalletsResponse" message="tns:ReservePalletsResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_ReservePallets_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <wsdl:input wsam:Action="SOPickService/SOPickService/SaveHistory" name="SaveHistory" message="tns:SaveHistory" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/SaveHistoryResponse" name="SaveHistoryResponse" message="tns:SaveHistoryResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_SaveHistory_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePickingLoad">
      <wsdl:input wsam:Action="SOPickService/SOPickService/SavePickingLoad" name="SavePickingLoad" message="tns:SavePickingLoad" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/SavePickingLoadResponse" name="SavePickingLoadResponse" message="tns:SavePickingLoadResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_SavePickingLoad_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnreservePallet">
      <wsdl:input wsam:Action="SOPickService/SOPickService/UnreservePallet" name="UnreservePallet" message="tns:UnreservePallet" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/UnreservePalletResponse" name="UnreservePalletResponse" message="tns:UnreservePalletResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_UnreservePallet_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalesDeliveryNote">
      <wsdl:input wsam:Action="SOPickService/SOPickService/SalesDeliveryNote" name="SalesDeliveryNote" message="tns:SalesDeliveryNote" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/SalesDeliveryNoteResponse" name="SalesDeliveryNoteResponse" message="tns:SalesDeliveryNoteResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_SalesDeliveryNote_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PalletsReserving">
      <wsdl:input wsam:Action="SOPickService/SOPickService/PalletsReserving" name="PalletsReserving" message="tns:PalletsReserving" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/PalletsReservingResponse" name="PalletsReservingResponse" message="tns:PalletsReservingResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_PalletsReserving_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Evs_ServiceMessage">
      <wsdl:input wsam:Action="SOPickService/SOPickService/Evs_ServiceMessage" name="Evs_ServiceMessage" message="tns:Evs_ServiceMessage" />
      <wsdl:output wsam:Action="SOPickService/SOPickService/Evs_ServiceMessageResponse" name="Evs_ServiceMessageResponse" message="tns:Evs_ServiceMessageResponse" />
      <wsdl:fault wsam:Action="SOPickService/SOPickService/Fault" name="SoapServiceFaultFault" message="tns:SOPickService_Evs_ServiceMessage_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>