SoapUtility/Service References/SOPickServiceGroup/SOPickServiceGroup1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SOPickServiceGroup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_SOPickService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_SOPickService" type="i0:SOPickService">
    <wsp:PolicyReference URI="#BasicHttpBinding_SOPickService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeTruckLoadingLine">
      <soap:operation soapAction="http://tempuri.org/SOPickService/ChangeTruckLoadingLine" style="document" />
      <wsdl:input name="ChangeTruckLoadingLine">
        <soap:header message="i0:ChangeTruckLoadingLine_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeTruckLoadingLineResponse">
        <soap:header message="i0:ChangeTruckLoadingLineResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPalletAvailable">
      <soap:operation soapAction="http://tempuri.org/SOPickService/CheckPalletAvailable" style="document" />
      <wsdl:input name="CheckPalletAvailable">
        <soap:header message="i0:CheckPalletAvailable_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CheckPalletAvailableResponse">
        <soap:header message="i0:CheckPalletAvailableResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPalletAvailableMulti">
      <soap:operation soapAction="http://tempuri.org/SOPickService/CheckPalletAvailableMulti" style="document" />
      <wsdl:input name="CheckPalletAvailableMulti">
        <soap:header message="i0:CheckPalletAvailableMulti_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CheckPalletAvailableMultiResponse">
        <soap:header message="i0:CheckPalletAvailableMultiResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomersDeliveryByQty">
      <soap:operation soapAction="http://tempuri.org/SOPickService/CustomersDeliveryByQty" style="document" />
      <wsdl:input name="CustomersDeliveryByQty">
        <soap:header message="i0:CustomersDeliveryByQty_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CustomersDeliveryByQtyResponse">
        <soap:header message="i0:CustomersDeliveryByQtyResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomersDeliveryByTrucks">
      <soap:operation soapAction="http://tempuri.org/SOPickService/CustomersDeliveryByTrucks" style="document" />
      <wsdl:input name="CustomersDeliveryByTrucks">
        <soap:header message="i0:CustomersDeliveryByTrucks_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CustomersDeliveryByTrucksResponse">
        <soap:header message="i0:CustomersDeliveryByTrucksResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findPickingList">
      <soap:operation soapAction="http://tempuri.org/SOPickService/findPickingList" style="document" />
      <wsdl:input name="findPickingList">
        <soap:header message="i0:findPickingList_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findPickingListResponse">
        <soap:header message="i0:findPickingListResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findSalesOrder">
      <soap:operation soapAction="http://tempuri.org/SOPickService/findSalesOrder" style="document" />
      <wsdl:input name="findSalesOrder">
        <soap:header message="i0:findSalesOrder_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findSalesOrderResponse">
        <soap:header message="i0:findSalesOrderResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findSalesOrdersList">
      <soap:operation soapAction="http://tempuri.org/SOPickService/findSalesOrdersList" style="document" />
      <wsdl:input name="findSalesOrdersList">
        <soap:header message="i0:findSalesOrdersList_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findSalesOrdersListResponse">
        <soap:header message="i0:findSalesOrdersListResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDeliveries">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetCustomerDeliveries" style="document" />
      <wsdl:input name="GetCustomerDeliveries">
        <soap:header message="i0:GetCustomerDeliveries_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCustomerDeliveriesResponse">
        <soap:header message="i0:GetCustomerDeliveriesResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDeliveriesByStatus">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetCustomerDeliveriesByStatus" style="document" />
      <wsdl:input name="GetCustomerDeliveriesByStatus">
        <soap:header message="i0:GetCustomerDeliveriesByStatus_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCustomerDeliveriesByStatusResponse">
        <soap:header message="i0:GetCustomerDeliveriesByStatusResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDailyDeliverySummaryByCust">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetDailyDeliverySummaryByCust" style="document" />
      <wsdl:input name="GetDailyDeliverySummaryByCust">
        <soap:header message="i0:GetDailyDeliverySummaryByCust_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDailyDeliverySummaryByCustResponse">
        <soap:header message="i0:GetDailyDeliverySummaryByCustResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetDeliveries" style="document" />
      <wsdl:input name="GetDeliveries">
        <soap:header message="i0:GetDeliveries_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeliveriesResponse">
        <soap:header message="i0:GetDeliveriesResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryStatusLookup">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetDeliveryStatusLookup" style="document" />
      <wsdl:input name="GetDeliveryStatusLookup">
        <soap:header message="i0:GetDeliveryStatusLookup_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeliveryStatusLookupResponse">
        <soap:header message="i0:GetDeliveryStatusLookupResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeliverySummaryByCust">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetDeliverySummaryByCust" style="document" />
      <wsdl:input name="GetDeliverySummaryByCust">
        <soap:header message="i0:GetDeliverySummaryByCust_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeliverySummaryByCustResponse">
        <soap:header message="i0:GetDeliverySummaryByCustResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFGLines">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetFGLines" style="document" />
      <wsdl:input name="GetFGLines">
        <soap:header message="i0:GetFGLines_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetFGLinesResponse">
        <soap:header message="i0:GetFGLinesResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLatestPallets">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetLatestPallets" style="document" />
      <wsdl:input name="GetLatestPallets">
        <soap:header message="i0:GetLatestPallets_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetLatestPalletsResponse">
        <soap:header message="i0:GetLatestPalletsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOpenPickingListByCustByItem">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetOpenPickingListByCustByItem" style="document" />
      <wsdl:input name="GetOpenPickingListByCustByItem">
        <soap:header message="i0:GetOpenPickingListByCustByItem_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetOpenPickingListByCustByItemResponse">
        <soap:header message="i0:GetOpenPickingListByCustByItemResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPalletInfo">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetPalletInfo" style="document" />
      <wsdl:input name="GetPalletInfo">
        <soap:header message="i0:GetPalletInfo_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPalletInfoResponse">
        <soap:header message="i0:GetPalletInfoResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSingleDelivery">
      <soap:operation soapAction="http://tempuri.org/SOPickService/GetSingleDelivery" style="document" />
      <wsdl:input name="GetSingleDelivery">
        <soap:header message="i0:GetSingleDelivery_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSingleDeliveryResponse">
        <soap:header message="i0:GetSingleDeliveryResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <soap:operation soapAction="http://tempuri.org/SOPickService/LoginDevice" style="document" />
      <wsdl:input name="LoginDevice">
        <soap:header message="i0:LoginDevice_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LoginDeviceResponse">
        <soap:header message="i0:LoginDeviceResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceivePickingList">
      <soap:operation soapAction="http://tempuri.org/SOPickService/ReceivePickingList" style="document" />
      <wsdl:input name="ReceivePickingList">
        <soap:header message="i0:ReceivePickingList_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceivePickingListResponse">
        <soap:header message="i0:ReceivePickingListResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReservePallets">
      <soap:operation soapAction="http://tempuri.org/SOPickService/ReservePallets" style="document" />
      <wsdl:input name="ReservePallets">
        <soap:header message="i0:ReservePallets_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReservePalletsResponse">
        <soap:header message="i0:ReservePalletsResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <soap:operation soapAction="http://tempuri.org/SOPickService/SaveHistory" style="document" />
      <wsdl:input name="SaveHistory">
        <soap:header message="i0:SaveHistory_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveHistoryResponse">
        <soap:header message="i0:SaveHistoryResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePickingLoad">
      <soap:operation soapAction="http://tempuri.org/SOPickService/SavePickingLoad" style="document" />
      <wsdl:input name="SavePickingLoad">
        <soap:header message="i0:SavePickingLoad_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SavePickingLoadResponse">
        <soap:header message="i0:SavePickingLoadResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnreservePallet">
      <soap:operation soapAction="http://tempuri.org/SOPickService/UnreservePallet" style="document" />
      <wsdl:input name="UnreservePallet">
        <soap:header message="i0:UnreservePallet_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UnreservePalletResponse">
        <soap:header message="i0:UnreservePalletResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SalesDeliveryNote">
      <soap:operation soapAction="http://tempuri.org/SOPickService/SalesDeliveryNote" style="document" />
      <wsdl:input name="SalesDeliveryNote">
        <soap:header message="i0:SalesDeliveryNote_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SalesDeliveryNoteResponse">
        <soap:header message="i0:SalesDeliveryNoteResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PalletsReserving">
      <soap:operation soapAction="http://tempuri.org/SOPickService/PalletsReserving" style="document" />
      <wsdl:input name="PalletsReserving">
        <soap:header message="i0:PalletsReserving_Headers" part="callContext" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PalletsReservingResponse">
        <soap:header message="i0:PalletsReservingResponse_Headers" part="infolog" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SoapServiceFaultFault">
        <soap:fault use="literal" name="SoapServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOPickServiceGroup">
    <wsdl:port name="BasicHttpBinding_SOPickService" binding="tns:BasicHttpBinding_SOPickService">
      <soap:address location="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>