SCServices/Service References/SalesOrderAX/SalesOrder5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-axr3-dev:8101/DynamicsAx/Services/SalesOrder?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="SOPick" type="tns:AxdSOPick" />
  <xs:complexType name="AxdSOPick">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesTable" type="tns:AxdEntity_SalesTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="st:AxdExtType_SalesShippingDate" />
      <xs:element minOccurs="0" name="DeliveryName" nillable="true" type="st:AxdExtType_CustName" />
      <xs:element minOccurs="0" name="DlvMode" nillable="true" type="st:AxdUnion_AxdExtType_CustDlvModeId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="SalesId" nillable="true" type="st:AxdExtType_SalesIdBase" />
      <xs:element minOccurs="0" name="SalesName" nillable="true" type="st:AxdExtType_SalesName" />
      <xs:element minOccurs="0" name="SalesStatus" nillable="true" type="st:AxdEnum_SalesStatus" />
      <xs:element minOccurs="0" name="SalesType" nillable="true" type="st:AxdEnum_SalesType" />
      <xs:element minOccurs="0" name="TotalBalance" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="TotalCashDiscount" nillable="true" type="st:AxdExtType_DiscAmount" />
      <xs:element minOccurs="0" name="TotalInvoice" nillable="true" type="st:AxdExtType_AmountCur" />
      <xs:element minOccurs="0" name="TotalMiscCharges" nillable="true" type="st:AxdExtType_MarkupAmount" />
      <xs:element minOccurs="0" name="TotalSalesTax" nillable="true" type="st:AxdExtType_TaxAmountCur" />
      <xs:element minOccurs="0" name="WorkerSalesTakerPersonnelNumber" nillable="true" type="st:AxdExtType_SalesTakerPersonnelNumber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="tns:AxdEntity_SalesLine" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_SalesLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveredIntotal" nillable="true" type="st:AxdExtType_SalesQty" />
      <xs:element minOccurs="0" name="InventDimId" nillable="true" type="st:AxdExtType_InventDimId" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="st:AxdUnion_AxdExtType_ItemIdSmall_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="st:AxdExtType_ItemFreeTxt" />
      <xs:element minOccurs="0" name="RetailCategory" nillable="true" type="st:AxdExtType_RetailCategory" />
      <xs:element minOccurs="0" name="SalesId" nillable="true" type="st:AxdExtType_SalesIdBase" />
      <xs:element minOccurs="0" name="SalesQty" nillable="true" type="st:AxdExtType_SalesOrderedQty" />
      <xs:element minOccurs="0" name="SalesQtyBox" nillable="true" type="st:AxdExtType_SaleQtyBox" />
      <xs:element minOccurs="0" name="SalesQtyPallet" nillable="true" type="st:AxdExtType_SalesOrderedQty" />
      <xs:element minOccurs="0" name="SalesQtySQM" nillable="true" type="st:AxdExtType_SalesOrderedQty" />
      <xs:element minOccurs="0" name="SalesUnit" nillable="true" type="st:AxdUnion_AxdExtType_SalesUnit_AxdType_ExtCodeValue" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>