SCServices/Service References/SalesOrderAX/SalesOrder147.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/SalesOrder?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/SalesOrder?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/SalesOrder?xsd=xsd7" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" />
  <xs:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/SalesOrder?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="SOPickServiceGetSingleDeliveryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetSingleDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:FGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReservePalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="pallets" nillable="true" type="q2:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReservePalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliverySummaryByCustRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliverySummaryByCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSaveHistoryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="history" nillable="true" type="q5:PickHistoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSaveHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDailyDeliverySummaryByCustRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDailyDeliverySummaryByCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetPalletInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_serialId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetPalletInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q7:PalletContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSavePickingLoadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startLoad" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stopLoad" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSavePickingLoadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliveriesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:ArrayOfFGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetLatestPalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetLatestPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q9:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindSalesOrdersListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="customerAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindSalesOrdersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:ArrayOfSalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetCustomerDeliveriesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="customerAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetCustomerDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q11:ArrayOfFGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceLoginDeviceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceLoginDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetOpenPickingListByCustByItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetOpenPickingListByCustByItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:ArrayOfPLNotDeliveredContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetFGLinesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetFGLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q13:ArrayOfFGLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceChangeTruckLoadingLineRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceChangeTruckLoadingLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetCustomerDeliveriesByStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_customerAccount" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_status" type="q14:PickingListStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetCustomerDeliveriesByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q15:ArrayOfFGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceUnreservePalletRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceUnreservePalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReceivePickingListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReceivePickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q16:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q17:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" minOccurs="0" ref="q18:SOPick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliveryStatusLookupRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliveryStatusLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q19:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q20:SalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableMultiRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="serials" nillable="true" type="q21:ArrayOfPalletItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableMultiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q22:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByTrucksRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q23:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindSalesOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindSalesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q24:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByQtyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q25:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q26:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" minOccurs="0" ref="q27:SOPick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindPickingListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindPickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q28:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>