SCServices/Service References/SalesOrderAX/SalesOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesOrder" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_SOPickService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://fac-axr3-dev:8101/DynamicsAx/Services/SalesOrder?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_SOPickService" type="i0:SOPickService">
    <wsp:PolicyReference URI="#NetTcpBinding_SOPickService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckPalletAvailableMulti">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/CheckPalletAvailableMulti" style="document" />
      <wsdl:input name="SOPickServiceCheckPalletAvailableMultiRequest">
        <soap12:header message="i0:SOPickServiceCheckPalletAvailableMultiRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceCheckPalletAvailableMultiResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomersDeliveryByQty">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/CustomersDeliveryByQty" style="document" />
      <wsdl:input name="SOPickServiceCustomersDeliveryByQtyRequest">
        <soap12:header message="i0:SOPickServiceCustomersDeliveryByQtyRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceCustomersDeliveryByQtyResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomersDeliveryByTrucks">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/CustomersDeliveryByTrucks" style="document" />
      <wsdl:input name="SOPickServiceCustomersDeliveryByTrucksRequest">
        <soap12:header message="i0:SOPickServiceCustomersDeliveryByTrucksRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceCustomersDeliveryByTrucksResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/find" style="document" />
      <wsdl:input name="SOPickServiceFindRequest">
        <soap12:header message="i0:SOPickServiceFindRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceFindResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findPickingList">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/findPickingList" style="document" />
      <wsdl:input name="SOPickServiceFindPickingListRequest">
        <soap12:header message="i0:SOPickServiceFindPickingListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceFindPickingListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findSalesOrdersList">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/findSalesOrdersList" style="document" />
      <wsdl:input name="SOPickServiceFindSalesOrdersListRequest">
        <soap12:header message="i0:SOPickServiceFindSalesOrdersListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceFindSalesOrdersListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPalletAvailable">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/CheckPalletAvailable" style="document" />
      <wsdl:input name="SOPickServiceCheckPalletAvailableRequest">
        <soap12:header message="i0:SOPickServiceCheckPalletAvailableRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceCheckPalletAvailableResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFGLines">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/GetFGLines" style="document" />
      <wsdl:input name="SOPickServiceGetFGLinesRequest">
        <soap12:header message="i0:SOPickServiceGetFGLinesRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceGetFGLinesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findSalesOrder">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/findSalesOrder" style="document" />
      <wsdl:input name="SOPickServiceFindSalesOrderRequest">
        <soap12:header message="i0:SOPickServiceFindSalesOrderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceFindSalesOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDeliveries">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/GetCustomerDeliveries" style="document" />
      <wsdl:input name="SOPickServiceGetCustomerDeliveriesRequest">
        <soap12:header message="i0:SOPickServiceGetCustomerDeliveriesRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceGetCustomerDeliveriesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/GetDeliveries" style="document" />
      <wsdl:input name="SOPickServiceGetDeliveriesRequest">
        <soap12:header message="i0:SOPickServiceGetDeliveriesRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceGetDeliveriesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/read" style="document" />
      <wsdl:input name="SOPickServiceReadRequest">
        <soap12:header message="i0:SOPickServiceReadRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceReadResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceivePickingList">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/ReceivePickingList" style="document" />
      <wsdl:input name="SOPickServiceReceivePickingListRequest">
        <soap12:header message="i0:SOPickServiceReceivePickingListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceReceivePickingListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLatestPallets">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/GetLatestPallets" style="document" />
      <wsdl:input name="SOPickServiceGetLatestPalletsRequest">
        <soap12:header message="i0:SOPickServiceGetLatestPalletsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceGetLatestPalletsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePickingLoad">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/SavePickingLoad" style="document" />
      <wsdl:input name="SOPickServiceSavePickingLoadRequest">
        <soap12:header message="i0:SOPickServiceSavePickingLoadRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceSavePickingLoadResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnreservePallet">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/UnreservePallet" style="document" />
      <wsdl:input name="SOPickServiceUnreservePalletRequest">
        <soap12:header message="i0:SOPickServiceUnreservePalletRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceUnreservePalletResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveHistory">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/SaveHistory" style="document" />
      <wsdl:input name="SOPickServiceSaveHistoryRequest">
        <soap12:header message="i0:SOPickServiceSaveHistoryRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceSaveHistoryResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReservePallets">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/ReservePallets" style="document" />
      <wsdl:input name="SOPickServiceReservePalletsRequest">
        <soap12:header message="i0:SOPickServiceReservePalletsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceReservePalletsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <soap12:operation soapAction="http://tempuri.org/SOPickService/LoginDevice" style="document" />
      <wsdl:input name="SOPickServiceLoginDeviceRequest">
        <soap12:header message="i0:SOPickServiceLoginDeviceRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SOPickServiceLoginDeviceResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesOrder">
    <wsdl:port name="NetTcpBinding_SOPickService" binding="tns:NetTcpBinding_SOPickService">
      <soap12:address location="net.tcp://fac-axr3-dev:8201/DynamicsAx/Services/SalesOrder" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://fac-axr3-dev:8201/DynamicsAx/Services/SalesOrder</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ax2@kabholding.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>