SCServices/Service References/SalesOrderAX/SalesOrder4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-axr3-dev:8101/DynamicsAx/Services/SalesOrder?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://fac-axr3-dev:8101/DynamicsAx/Services/SalesOrder?xsd=xsd7" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" />
  <xs:import schemaLocation="http://fac-axr3-dev:8101/DynamicsAx/Services/SalesOrder?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://fac-axr3-dev:8101/DynamicsAx/Services/SalesOrder?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:element name="SOPickServiceLoginDeviceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceLoginDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q1:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" minOccurs="0" ref="q2:SOPick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindPickingListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindPickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:SalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetLatestPalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetLatestPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q5:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindSalesOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceFindSalesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableMultiRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="serials" nillable="true" type="q7:ArrayOfPalletItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCheckPalletAvailableMultiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSaveHistoryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="history" nillable="true" type="q9:PickHistoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSaveHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSavePickingLoadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startLoad" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stopLoad" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceSavePickingLoadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q10:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/dynamics/2008/01/documents/SOPick" minOccurs="0" ref="q11:SOPick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReceivePickingListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReceivePickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:SalesTableContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByQtyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q13:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetFGLinesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetFGLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q14:ArrayOfFGLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceUnreservePalletRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceUnreservePalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliveriesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceGetDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q15:ArrayOfFGDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByTrucksRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceCustomersDeliveryByTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q16:ArrayOfCustomerDeliveryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReservePalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pickingId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lineRecId" type="xs:long" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="pallets" nillable="true" type="q17:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SOPickServiceReservePalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q18:ArrayOfSalesLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>