SCServices/Service References/DataManagerServices/DataManagerServices2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd8" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd3" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/DMDataToSave" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DMDataToSaveServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCreateRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceDMClearPrintAgainRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceDMClearPrintAgainRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceDMClearPrintAgainRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceDMClearPrintAgainResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceDMClearPrintAgainResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_DMClearPrintAgain_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCancelPalletReceiveRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceCancelPalletReceiveRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCancelPalletReceiveRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCancelPalletReceiveResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceCancelPalletReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_CancelPalletReceive_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceImportDataInDynamicsRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceImportDataInDynamicsRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceImportDataInDynamicsRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceImportDataInDynamicsResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceImportDataInDynamicsResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_ImportDataInDynamics_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceItemGroupPalletsRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceItemGroupPalletsRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceItemGroupPalletsRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceItemGroupPalletsResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceItemGroupPalletsResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_ItemGroupPallets_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceConfirmPalletAndLocationReceiveRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceConfirmPalletAndLocationReceiveRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceConfirmPalletAndLocationReceiveRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceConfirmPalletAndLocationReceiveResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceConfirmPalletAndLocationReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_ConfirmPalletAndLocationReceive_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetItemCodesRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetItemCodesRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetItemCodesRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetItemCodesResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetItemCodesResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_GetItemCodes_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceDMSetPrintAgainRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceDMSetPrintAgainRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceDMSetPrintAgainRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceDMSetPrintAgainResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceDMSetPrintAgainResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_DMSetPrintAgain_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceConfirmPalletReceiveRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceConfirmPalletReceiveRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceConfirmPalletReceiveRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceConfirmPalletReceiveResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceConfirmPalletReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_ConfirmPalletReceive_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceSaveItemNumberRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceSaveItemNumberRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceSaveItemNumberRequest_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceSaveItemNumberResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceSaveItemNumberResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_saveItemNumber_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q20:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceSummaryNormalPalletsRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceSummaryNormalPalletsRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceSummaryNormalPalletsRequest_Headers">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q21:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceSummaryNormalPalletsResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceSummaryNormalPalletsResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_SummaryNormalPallets_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q22:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetPalletInfoByRecordIdRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetPalletInfoByRecordIdRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetPalletInfoByRecordIdRequest_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q23:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetPalletInfoByRecordIdResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetPalletInfoByRecordIdResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_GetPalletInfoByRecordId_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q24:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetItemCodesTableRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetItemCodesTableRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetItemCodesTableRequest_Headers">
    <wsdl:part xmlns:q25="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q25:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetItemCodesTableResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetItemCodesTableResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_GetItemCodesTable_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q26:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetPalletInfoRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetPalletInfoRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetPalletInfoRequest_Headers">
    <wsdl:part xmlns:q27="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q27:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetPalletInfoResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetPalletInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_GetPalletInfo_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q28:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetMaxMovementNumberRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetMaxMovementNumberRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetMaxMovementNumberRequest_Headers">
    <wsdl:part xmlns:q29="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q29:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetMaxMovementNumberResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetMaxMovementNumberResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_GetMaxMovementNumber_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q30:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCreateDowntimeForMarpakRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceCreateDowntimeForMarpakRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCreateDowntimeForMarpakRequest_Headers">
    <wsdl:part xmlns:q31="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q31:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceCreateDowntimeForMarpakResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceCreateDowntimeForMarpakResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_CreateDowntimeForMarpak_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q32:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q33="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q33:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q34:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateTransferPalletsRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateTransferPalletsRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateTransferPalletsRequest_Headers">
    <wsdl:part xmlns:q35="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q35:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateTransferPalletsResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateTransferPalletsResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_UpdateTransferPallets_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q36:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetWHLocationsRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetWHLocationsRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetWHLocationsRequest_Headers">
    <wsdl:part xmlns:q37="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q37:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceGetWHLocationsResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceGetWHLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_GetWHLocations_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q38:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateAndConfirmPalletReceiveRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateAndConfirmPalletReceiveRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateAndConfirmPalletReceiveRequest_Headers">
    <wsdl:part xmlns:q39="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q39:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateAndConfirmPalletReceiveResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateAndConfirmPalletReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_UpdateAndConfirmPalletReceive_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q40:AifFault" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateOfflinePalletsRequest">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateOfflinePalletsRequest" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateOfflinePalletsRequest_Headers">
    <wsdl:part xmlns:q41="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q41:CallContext" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveServiceUpdateOfflinePalletsResponse">
    <wsdl:part name="parameters" element="tns:DMDataToSaveServiceUpdateOfflinePalletsResponse" />
  </wsdl:message>
  <wsdl:message name="DMDataToSaveService_UpdateOfflinePallets_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q42:AifFault" />
  </wsdl:message>
  <wsdl:portType name="DMDataToSaveService">
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/create" name="DMDataToSaveServiceCreateRequest" message="tns:DMDataToSaveServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/createResponse" name="DMDataToSaveServiceCreateResponse" message="tns:DMDataToSaveServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/createAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DMClearPrintAgain">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/DMClearPrintAgain" name="DMDataToSaveServiceDMClearPrintAgainRequest" message="tns:DMDataToSaveServiceDMClearPrintAgainRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/DMClearPrintAgainResponse" name="DMDataToSaveServiceDMClearPrintAgainResponse" message="tns:DMDataToSaveServiceDMClearPrintAgainResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/DMClearPrintAgainAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_DMClearPrintAgain_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelPalletReceive">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/CancelPalletReceive" name="DMDataToSaveServiceCancelPalletReceiveRequest" message="tns:DMDataToSaveServiceCancelPalletReceiveRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/CancelPalletReceiveResponse" name="DMDataToSaveServiceCancelPalletReceiveResponse" message="tns:DMDataToSaveServiceCancelPalletReceiveResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/CancelPalletReceiveAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_CancelPalletReceive_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportDataInDynamics">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/ImportDataInDynamics" name="DMDataToSaveServiceImportDataInDynamicsRequest" message="tns:DMDataToSaveServiceImportDataInDynamicsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/ImportDataInDynamicsResponse" name="DMDataToSaveServiceImportDataInDynamicsResponse" message="tns:DMDataToSaveServiceImportDataInDynamicsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/ImportDataInDynamicsAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_ImportDataInDynamics_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ItemGroupPallets">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/ItemGroupPallets" name="DMDataToSaveServiceItemGroupPalletsRequest" message="tns:DMDataToSaveServiceItemGroupPalletsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/ItemGroupPalletsResponse" name="DMDataToSaveServiceItemGroupPalletsResponse" message="tns:DMDataToSaveServiceItemGroupPalletsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/ItemGroupPalletsAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_ItemGroupPallets_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmPalletAndLocationReceive">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/ConfirmPalletAndLocationReceive" name="DMDataToSaveServiceConfirmPalletAndLocationReceiveRequest" message="tns:DMDataToSaveServiceConfirmPalletAndLocationReceiveRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/ConfirmPalletAndLocationReceiveResponse" name="DMDataToSaveServiceConfirmPalletAndLocationReceiveResponse" message="tns:DMDataToSaveServiceConfirmPalletAndLocationReceiveResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/ConfirmPalletAndLocationReceiveAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_ConfirmPalletAndLocationReceive_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/GetItemCodes" name="DMDataToSaveServiceGetItemCodesRequest" message="tns:DMDataToSaveServiceGetItemCodesRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/GetItemCodesResponse" name="DMDataToSaveServiceGetItemCodesResponse" message="tns:DMDataToSaveServiceGetItemCodesResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/GetItemCodesAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_GetItemCodes_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DMSetPrintAgain">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/DMSetPrintAgain" name="DMDataToSaveServiceDMSetPrintAgainRequest" message="tns:DMDataToSaveServiceDMSetPrintAgainRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/DMSetPrintAgainResponse" name="DMDataToSaveServiceDMSetPrintAgainResponse" message="tns:DMDataToSaveServiceDMSetPrintAgainResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/DMSetPrintAgainAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_DMSetPrintAgain_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmPalletReceive">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/ConfirmPalletReceive" name="DMDataToSaveServiceConfirmPalletReceiveRequest" message="tns:DMDataToSaveServiceConfirmPalletReceiveRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/ConfirmPalletReceiveResponse" name="DMDataToSaveServiceConfirmPalletReceiveResponse" message="tns:DMDataToSaveServiceConfirmPalletReceiveResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/ConfirmPalletReceiveAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_ConfirmPalletReceive_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveItemNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/saveItemNumber" name="DMDataToSaveServiceSaveItemNumberRequest" message="tns:DMDataToSaveServiceSaveItemNumberRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/saveItemNumberResponse" name="DMDataToSaveServiceSaveItemNumberResponse" message="tns:DMDataToSaveServiceSaveItemNumberResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/saveItemNumberAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_saveItemNumber_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SummaryNormalPallets">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/SummaryNormalPallets" name="DMDataToSaveServiceSummaryNormalPalletsRequest" message="tns:DMDataToSaveServiceSummaryNormalPalletsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/SummaryNormalPalletsResponse" name="DMDataToSaveServiceSummaryNormalPalletsResponse" message="tns:DMDataToSaveServiceSummaryNormalPalletsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/SummaryNormalPalletsAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_SummaryNormalPallets_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPalletInfoByRecordId">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/GetPalletInfoByRecordId" name="DMDataToSaveServiceGetPalletInfoByRecordIdRequest" message="tns:DMDataToSaveServiceGetPalletInfoByRecordIdRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/GetPalletInfoByRecordIdResponse" name="DMDataToSaveServiceGetPalletInfoByRecordIdResponse" message="tns:DMDataToSaveServiceGetPalletInfoByRecordIdResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/GetPalletInfoByRecordIdAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_GetPalletInfoByRecordId_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemCodesTable">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/GetItemCodesTable" name="DMDataToSaveServiceGetItemCodesTableRequest" message="tns:DMDataToSaveServiceGetItemCodesTableRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/GetItemCodesTableResponse" name="DMDataToSaveServiceGetItemCodesTableResponse" message="tns:DMDataToSaveServiceGetItemCodesTableResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/GetItemCodesTableAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_GetItemCodesTable_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPalletInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/GetPalletInfo" name="DMDataToSaveServiceGetPalletInfoRequest" message="tns:DMDataToSaveServiceGetPalletInfoRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/GetPalletInfoResponse" name="DMDataToSaveServiceGetPalletInfoResponse" message="tns:DMDataToSaveServiceGetPalletInfoResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/GetPalletInfoAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_GetPalletInfo_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxMovementNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/GetMaxMovementNumber" name="DMDataToSaveServiceGetMaxMovementNumberRequest" message="tns:DMDataToSaveServiceGetMaxMovementNumberRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/GetMaxMovementNumberResponse" name="DMDataToSaveServiceGetMaxMovementNumberResponse" message="tns:DMDataToSaveServiceGetMaxMovementNumberResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/GetMaxMovementNumberAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_GetMaxMovementNumber_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDowntimeForMarpak">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/CreateDowntimeForMarpak" name="DMDataToSaveServiceCreateDowntimeForMarpakRequest" message="tns:DMDataToSaveServiceCreateDowntimeForMarpakRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/CreateDowntimeForMarpakResponse" name="DMDataToSaveServiceCreateDowntimeForMarpakResponse" message="tns:DMDataToSaveServiceCreateDowntimeForMarpakResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/CreateDowntimeForMarpakAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_CreateDowntimeForMarpak_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/update" name="DMDataToSaveServiceUpdateRequest" message="tns:DMDataToSaveServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/updateResponse" name="DMDataToSaveServiceUpdateResponse" message="tns:DMDataToSaveServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/updateAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransferPallets">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateTransferPallets" name="DMDataToSaveServiceUpdateTransferPalletsRequest" message="tns:DMDataToSaveServiceUpdateTransferPalletsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateTransferPalletsResponse" name="DMDataToSaveServiceUpdateTransferPalletsResponse" message="tns:DMDataToSaveServiceUpdateTransferPalletsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateTransferPalletsAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_UpdateTransferPallets_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWHLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/GetWHLocations" name="DMDataToSaveServiceGetWHLocationsRequest" message="tns:DMDataToSaveServiceGetWHLocationsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/GetWHLocationsResponse" name="DMDataToSaveServiceGetWHLocationsResponse" message="tns:DMDataToSaveServiceGetWHLocationsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/GetWHLocationsAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_GetWHLocations_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAndConfirmPalletReceive">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateAndConfirmPalletReceive" name="DMDataToSaveServiceUpdateAndConfirmPalletReceiveRequest" message="tns:DMDataToSaveServiceUpdateAndConfirmPalletReceiveRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateAndConfirmPalletReceiveResponse" name="DMDataToSaveServiceUpdateAndConfirmPalletReceiveResponse" message="tns:DMDataToSaveServiceUpdateAndConfirmPalletReceiveResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateAndConfirmPalletReceiveAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_UpdateAndConfirmPalletReceive_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOfflinePallets">
      <wsdl:input wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateOfflinePallets" name="DMDataToSaveServiceUpdateOfflinePalletsRequest" message="tns:DMDataToSaveServiceUpdateOfflinePalletsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateOfflinePalletsResponse" name="DMDataToSaveServiceUpdateOfflinePalletsResponse" message="tns:DMDataToSaveServiceUpdateOfflinePalletsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/DMDataToSaveService/UpdateOfflinePalletsAifFaultFault" name="AifFaultFault" message="tns:DMDataToSaveService_UpdateOfflinePallets_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>