SCServices/Service References/DataManagerServices/DataManagerServices1311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/DMDataToSave" />
  <xs:import schemaLocation="http://fac-prod-ax03:8101/DynamicsAx/Services/DataManagerServices?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:element name="DMDataToSaveServiceUpdateOfflinePalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q1:ArrayOfDMExportOfflineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceUpdateOfflinePalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfDMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceCreateDowntimeForMarpakRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_whichMarpak" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceCreateDowntimeForMarpakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceSummaryNormalPalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceSummaryNormalPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfDMSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetItemCodesTableRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetItemCodesTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceUpdateAndConfirmPalletReceiveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="line" nillable="true" type="q4:DMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceUpdateAndConfirmPalletReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceUpdateTransferPalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q5:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceUpdateTransferPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q6:ArrayOfDMForTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2008/01/documents/DMDataToSave" minOccurs="0" ref="q7:DMDataToSave" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q8:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceDMClearPrintAgainRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceDMClearPrintAgainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q9:ArrayOfDMExportMiniContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceItemGroupPalletsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="caliber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceItemGroupPalletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:ArrayOfDMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q11:EntityKeyList" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/DMDataToSave" minOccurs="0" ref="q12:DMDataToSave" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetWHLocationsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetWHLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q13:ArrayOfWmsLocationContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceConfirmPalletAndLocationReceiveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFromSL" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceConfirmPalletAndLocationReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceImportDataInDynamicsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="lines" nillable="true" type="q14:ArrayOfDMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceImportDataInDynamicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q15:ArrayOfDMExportMiniContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceDMSetPrintAgainRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceDMSetPrintAgainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetItemCodesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetItemCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q16:ArrayOfItemCodeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetPalletInfoByRecordIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetPalletInfoByRecordIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q17:DMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetMaxMovementNumberRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetMaxMovementNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceConfirmPalletReceiveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFromSL" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceConfirmPalletReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceCancelPalletReceiveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordId" type="xs:long" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceCancelPalletReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetPalletInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palletNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceGetPalletInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q18:DMExportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceSaveItemNumberRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_itemNum" nillable="true" type="q19:DMExportItemNumContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DMDataToSaveServiceSaveItemNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>