SoapUtility/Service References/SalesServicesGroup/SalesServicesGroup31.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="CaseService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="CaseService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="CaseService/Imports">
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd2" namespace="CaseService" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateCustomerCase">
    <wsdl:part name="parameters" element="tns:CreateCustomerCase" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerCase_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerCaseResponse">
    <wsdl:part name="parameters" element="tns:CreateCustomerCaseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerCaseResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_CreateCustomerCase_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerCase">
    <wsdl:part name="parameters" element="tns:DeleteCustomerCase" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerCase_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerCaseResponse">
    <wsdl:part name="parameters" element="tns:DeleteCustomerCaseResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCustomerCaseResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_DeleteCustomerCase_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:message name="GetCase">
    <wsdl:part name="parameters" element="tns:GetCase" />
  </wsdl:message>
  <wsdl:message name="GetCase_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetCaseResponse">
    <wsdl:part name="parameters" element="tns:GetCaseResponse" />
  </wsdl:message>
  <wsdl:message name="GetCaseResponse_Headers">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q8:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_GetCase_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q9:Fault" />
  </wsdl:message>
  <wsdl:message name="GetCasesSummaryByCust">
    <wsdl:part name="parameters" element="tns:GetCasesSummaryByCust" />
  </wsdl:message>
  <wsdl:message name="GetCasesSummaryByCust_Headers">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q10:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetCasesSummaryByCustResponse">
    <wsdl:part name="parameters" element="tns:GetCasesSummaryByCustResponse" />
  </wsdl:message>
  <wsdl:message name="GetCasesSummaryByCustResponse_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q11:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_GetCasesSummaryByCust_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q12:Fault" />
  </wsdl:message>
  <wsdl:message name="GetCategoryTypeLookup">
    <wsdl:part name="parameters" element="tns:GetCategoryTypeLookup" />
  </wsdl:message>
  <wsdl:message name="GetCategoryTypeLookup_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetCategoryTypeLookupResponse">
    <wsdl:part name="parameters" element="tns:GetCategoryTypeLookupResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoryTypeLookupResponse_Headers">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q14:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_GetCategoryTypeLookup_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q15:Fault" />
  </wsdl:message>
  <wsdl:message name="GetCustomerCases">
    <wsdl:part name="parameters" element="tns:GetCustomerCases" />
  </wsdl:message>
  <wsdl:message name="GetCustomerCases_Headers">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q16:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetCustomerCasesResponse">
    <wsdl:part name="parameters" element="tns:GetCustomerCasesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerCasesResponse_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q17:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_GetCustomerCases_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q18:Fault" />
  </wsdl:message>
  <wsdl:message name="GetPriorityLookup">
    <wsdl:part name="parameters" element="tns:GetPriorityLookup" />
  </wsdl:message>
  <wsdl:message name="GetPriorityLookup_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetPriorityLookupResponse">
    <wsdl:part name="parameters" element="tns:GetPriorityLookupResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriorityLookupResponse_Headers">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q20:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_GetPriorityLookup_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q21:Fault" />
  </wsdl:message>
  <wsdl:message name="GetResolutionLookup">
    <wsdl:part name="parameters" element="tns:GetResolutionLookup" />
  </wsdl:message>
  <wsdl:message name="GetResolutionLookup_Headers">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q22:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetResolutionLookupResponse">
    <wsdl:part name="parameters" element="tns:GetResolutionLookupResponse" />
  </wsdl:message>
  <wsdl:message name="GetResolutionLookupResponse_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q23:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_GetResolutionLookup_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q24:Fault" />
  </wsdl:message>
  <wsdl:message name="GetStatusLookup">
    <wsdl:part name="parameters" element="tns:GetStatusLookup" />
  </wsdl:message>
  <wsdl:message name="GetStatusLookup_Headers">
    <wsdl:part xmlns:q25="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q25:CallContext" />
  </wsdl:message>
  <wsdl:message name="GetStatusLookupResponse">
    <wsdl:part name="parameters" element="tns:GetStatusLookupResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusLookupResponse_Headers">
    <wsdl:part xmlns:q26="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q26:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_GetStatusLookup_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q27:Fault" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerCase">
    <wsdl:part name="parameters" element="tns:UpdateCustomerCase" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerCase_Headers">
    <wsdl:part xmlns:q28="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q28:CallContext" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerCaseResponse">
    <wsdl:part name="parameters" element="tns:UpdateCustomerCaseResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerCaseResponse_Headers">
    <wsdl:part xmlns:q29="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q29:Infolog" />
  </wsdl:message>
  <wsdl:message name="CaseService_UpdateCustomerCase_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q30:Fault" />
  </wsdl:message>
  <wsdl:portType name="CaseService">
    <wsdl:operation name="CreateCustomerCase">
      <wsdl:input wsam:Action="CaseService/CaseService/CreateCustomerCase" name="CreateCustomerCase" message="tns:CreateCustomerCase" />
      <wsdl:output wsam:Action="CaseService/CaseService/CreateCustomerCaseResponse" name="CreateCustomerCaseResponse" message="tns:CreateCustomerCaseResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_CreateCustomerCase_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerCase">
      <wsdl:input wsam:Action="CaseService/CaseService/DeleteCustomerCase" name="DeleteCustomerCase" message="tns:DeleteCustomerCase" />
      <wsdl:output wsam:Action="CaseService/CaseService/DeleteCustomerCaseResponse" name="DeleteCustomerCaseResponse" message="tns:DeleteCustomerCaseResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_DeleteCustomerCase_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <wsdl:input wsam:Action="CaseService/CaseService/GetCase" name="GetCase" message="tns:GetCase" />
      <wsdl:output wsam:Action="CaseService/CaseService/GetCaseResponse" name="GetCaseResponse" message="tns:GetCaseResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_GetCase_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCasesSummaryByCust">
      <wsdl:input wsam:Action="CaseService/CaseService/GetCasesSummaryByCust" name="GetCasesSummaryByCust" message="tns:GetCasesSummaryByCust" />
      <wsdl:output wsam:Action="CaseService/CaseService/GetCasesSummaryByCustResponse" name="GetCasesSummaryByCustResponse" message="tns:GetCasesSummaryByCustResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_GetCasesSummaryByCust_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryTypeLookup">
      <wsdl:input wsam:Action="CaseService/CaseService/GetCategoryTypeLookup" name="GetCategoryTypeLookup" message="tns:GetCategoryTypeLookup" />
      <wsdl:output wsam:Action="CaseService/CaseService/GetCategoryTypeLookupResponse" name="GetCategoryTypeLookupResponse" message="tns:GetCategoryTypeLookupResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_GetCategoryTypeLookup_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCases">
      <wsdl:input wsam:Action="CaseService/CaseService/GetCustomerCases" name="GetCustomerCases" message="tns:GetCustomerCases" />
      <wsdl:output wsam:Action="CaseService/CaseService/GetCustomerCasesResponse" name="GetCustomerCasesResponse" message="tns:GetCustomerCasesResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_GetCustomerCases_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriorityLookup">
      <wsdl:input wsam:Action="CaseService/CaseService/GetPriorityLookup" name="GetPriorityLookup" message="tns:GetPriorityLookup" />
      <wsdl:output wsam:Action="CaseService/CaseService/GetPriorityLookupResponse" name="GetPriorityLookupResponse" message="tns:GetPriorityLookupResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_GetPriorityLookup_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResolutionLookup">
      <wsdl:input wsam:Action="CaseService/CaseService/GetResolutionLookup" name="GetResolutionLookup" message="tns:GetResolutionLookup" />
      <wsdl:output wsam:Action="CaseService/CaseService/GetResolutionLookupResponse" name="GetResolutionLookupResponse" message="tns:GetResolutionLookupResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_GetResolutionLookup_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusLookup">
      <wsdl:input wsam:Action="CaseService/CaseService/GetStatusLookup" name="GetStatusLookup" message="tns:GetStatusLookup" />
      <wsdl:output wsam:Action="CaseService/CaseService/GetStatusLookupResponse" name="GetStatusLookupResponse" message="tns:GetStatusLookupResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_GetStatusLookup_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerCase">
      <wsdl:input wsam:Action="CaseService/CaseService/UpdateCustomerCase" name="UpdateCustomerCase" message="tns:UpdateCustomerCase" />
      <wsdl:output wsam:Action="CaseService/CaseService/UpdateCustomerCaseResponse" name="UpdateCustomerCaseResponse" message="tns:UpdateCustomerCaseResponse" />
      <wsdl:fault wsam:Action="CaseService/CaseService/Fault" name="SoapServiceFaultFault" message="tns:CaseService_UpdateCustomerCase_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>