SoapUtility/Service References/SalesServicesGroup/SalesServicesGroup7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CaseService" elementFormDefault="qualified" targetNamespace="CaseService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="CreateCustomerCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="row" nillable="true" type="q1:CustomerCaseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q2:CustomerCaseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasesSummaryByCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasesSummaryByCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q3:ArrayOfSummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryTypeLookup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryTypeLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q4:ArrayOfCategoryTypeLookup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q5:ArrayOfCustomerCaseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorityLookup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorityLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q6:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResolutionLookup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResolutionLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q7:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusLookup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q8:ArrayOfLookupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="row" nillable="true" type="q9:CustomerCaseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>